<footer>
  <div class="footer__container-logos">
    <div class="container">
      <div class="footer__logos">
        <a class="footer__brand" href="https://www.srce.unizg.hr" target="_blank">
          <img src="./assets/img/logo-srca-puni.svg" class="footer__srceLogo-size" alt="web stranice Srca" />
        </a>
        <div class="footer__brand">
          <img src="./assets/img/aai-logo.svg" class="footer__dabarLogo-size" alt="AAI logotip" />
        </div>
      </div>
      <div class="footer__circles">
        <img src="./assets/img/kruzici-pred-footer.svg" alt="" aria-hidden="true" />
      </div>
    </div>
  </div>
  <div class="footer__container-info">
    <div class="container">
      <div class="site__information">
        <ul>
          <li><a href="">Izjava o pristupačnosti</a></li>
          <span aria-hidden="true">|</span>
          <li><a href="">Politika privatnosti</a></li>
          <span aria-hidden="true">|</span>
          <li><a href="">Kontakt</a></li>
        </ul>
        <a href="https://www.srce.unizg.hr/">&#169; 2024 - Sveučilište u Zagrebu
          Sveučilišni računski centar (Srce)
        </a>
      </div>
    </div>
  </div>
</footer>