<div class="header__wrapper">
  <a
    href="#banner__searchBar"
    class="skip-to-main-content-link"
    tabindex="0"
  >Skoči na glavni sadržaj </a>
  <header class="navbar navbar-expand">
    <div class="container-xxl" id="primary__navbar-wrapper">
      <a class="navbar-brand" href="#">
        <img
          src="./assets/img/logo-srca.svg"
          class="header__srceLogo-size"
          alt="web stranice Srca"
        />

      </a>
      <hr class="navbar__line-horizontal" />
      <a class="navbar-brand" href="#">
        <img
          src="./assets/img/aai-logo.svg"
          class="header__dabarLogo-size"
          alt="Početna"
        />
      </a>
    </div>
  </header>
</div>