<li class="dropdown notification-list profile-dropdown">
  <!-- Wrap the profile in a button -->
  <form id="login-form" class="mb-0" action="/toggle-login" method="POST">
    <button
      type="submit"
      class="nav-link nav-user mr-0"
      style="background: none; border: none; padding: 0;"
    >
      <div class="user-profile">
        <div class="media-body text-left">
          <div class="pro-user-name ml-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-user icon-dual icon-xs mr-2"
              style="padding-bottom:5px"
            >
              <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
              <circle cx="12" cy="7" r="4"></circle>
            </svg>
            <span>Prijava</span>
          </div>
        </div>
      </div>
    </button>
  </form>
</li>