<li class="dropdown notification-list profile-dropdown">
  <a
    class="nav-link nav-user mr-0"
    data-bs-toggle="dropdown"
    role="button"
    aria-haspopup="false"
    aria-expanded="false"
  >
    <div class="user-profile">
      <div class="media-body text-left">
        <div class="pro-user-name ml-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-user icon-dual icon-xs mr-2"
            style="padding-bottom:5px"
          >
            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
            <circle cx="12" cy="7" r="4"></circle>
          </svg>
          <span>Ime Prezime</span>
        </div>
      </div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-chevron-down ml-2 align-self-center show"
      >
        <polyline points="6 9 12 15 18 9"></polyline>
      </svg>
    </div>
  </a>
  <div
    class="dropdown-menu profile-dropdown-items dropdown-menu-right animate slideIn"
  >
    <!-- Wrap the link in a form -->
    <form
      action="/toggle-login"
      method="POST"
      class="dropdown-item notify-item mb-0"
    >
      <button
        type="submit"
        style="background: none; border: none; padding: 0; width: 100%; text-align: left;"
      >
        <svg
          fill="#000000"
          height="16px"
          width="16px"
          version="1.1"
          id="Capa_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 0 384.971 384.971"
          xml:space="preserve"
        >
          <g id="Sign_Out">
            <path
              d="M180.455,360.91H24.061V24.061h156.394c6.641,0,12.03-5.39,12.03-12.03s-5.39-12.03-12.03-12.03H12.03
            C5.39,0.001,0,5.39,0,12.031V372.94c0,6.641,5.39,12.03,12.03,12.03h168.424c6.641,0,12.03-5.39,12.03-12.03
            C192.485,366.299,187.095,360.91,180.455,360.91z"
            />
            <path
              d="M381.481,184.088l-83.009-84.2c-4.704-4.752-12.319-4.74-17.011,0c-4.704,4.74-4.704,12.439,0,17.179l62.558,63.46H96.279
            c-6.641,0-12.03,5.438-12.03,12.151c0,6.713,5.39,12.151,12.03,12.151h247.74l-62.558,63.46c-4.704,4.752-4.704,12.439,0,17.179
            c4.704,4.752,12.319,4.752,17.011,0l82.997-84.2C386.113,196.588,386.161,188.756,381.481,184.088z"
            />
          </g>
        </svg>
        <span>Odjava</span>
      </button>
    </form>
  </div>
</li>