<nav class="navbar navbar-expand-md">
  <div class="container-xxl" id="secondary__navbar-wrapper">
    <ul class="navbar-nav" id="secondary__navbar">
      <li class="nav-item"><a href="/" class="nav-link">PoÄetna</a></li>
      <li class="nav-item"><a href="/lista-korisnika" class="nav-link">Za korisnike</a></li>
      <li class="nav-item"><a href="/administratori" class="nav-link">Za
          administratore</a></li>
    </ul>
    <div class="toggle__btn">
      <span id="toggle__btn-description">IZBORNIK</span>
      <div class="toggleIcon">
        <i class="bi bi-list"></i>
      </div>
    </div>
    <div class="dropdown__menu">
      <li class="nav-item"><a href="/korisnici" class="nav-link">Za korisnike</a></li>
      <li class="nav-item"><a href="/administratori" class="nav-link">Za
          administratore</a></li>
    </div>
  </div>
</nav>