<section class="object__results-wrapper" aria-label="rezultat pretraživanja">
  <div class="object__results-contentWrapper">
    <div class="object__results-content">
      <div class="object__results-pills">
        <p
          class="badge rounded-pill zatvoreni-pristup"
          data-asw-orgfontsize="12"
          style="font-size: 12px;"
        >zatvoreni pristup
        </p>
        <p
          class="badge rounded-pill multimedija"
          data-asw-orgfontsize="12"
          style="font-size: 12px;"
        >ocjenski rad (Umjetnički rad)</p>
      </div>
      <p
        class="object__results-title"
        data-asw-orgfontsize="20"
        style="font-size: 20px;"
      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab enim quia
        provident suscipit harum, obcaecati natus, architecto corporis tenetur
        aliquid id adipisci explicabo quos repudiandae quasi rem voluptates
        quidem deserunt.</p>
      <a
        class="object__results-name"
        data-asw-orgfontsize="16"
        style="font-size: 16px;"
      >Srdelić, Dea</a>
      <p
        class="object__results-location"
        data-asw-orgfontsize="16"
        style="font-size: 16px;"
      >
        Split: Sveučilište u Splitu, Filozofski fakultet, 2022.
        <a
          href="#"
          data-asw-orgfontsize="16"
          style="font-size: 16px;"
        >urn:nbn:hr:172:662726</a></p>
      <a
        href="#"
        data-asw-orgfontsize="16"
        style="font-size: 16px;"
      >repozitorij.ffst.unist.hr</a>
      <div class="d-flex mt-2">
        <button
          type="button"
          class="btn object__results-Details"
          data-asw-orgfontsize="16"
          style="font-size: 16px;"
        ><span
            class="bi bi-info-square me-1"
            data-asw-orgfontsize="16"
            style="font-size: 16px;"
          ></span>Pogledaj detalje</button>
      </div>
    </div>
    <img
      class="object__results-thumbnail d-none d-md-block"
      src="../assets/img/sand-cat.jpg"
      alt=""
    />
  </div>
</section>