<section class="content__statistics" aria-label="Statistika sustava">
  <div class="d-flex">
    <div class="content__statistics-group">
      <p class="content__statistics-numbers" data-target="200">0</p>
      <p class="content__statistics-text">Broj radova</p>
    </div>
    <div class="content__statistics-group">
      <p class="content__statistics-numbers" data-target="300">0</p>
      <p class="content__statistics-text">Broj korisnika</p>
    </div>
  </div>
  <div class="d-flex">
    <div class="content__statistics-group">
      <p class="content__statistics-numbers" data-target="400">0</p>
      <p class="content__statistics-text">Broj pregleda</p>
    </div>
    <div class="content__statistics-group">
      <p class="content__statistics-numbers" data-target="500">0</p>
      <p class="content__statistics-text">Broj statistika</p>
    </div>
  </div>
</section>