<div class="container-fluid content-wrapper p-0 flex-grow-1">
    <div class="container-fluid banner__visual">
        {{> banner__inner}}
        {{> shape__divider}}
    </div>
    <!-- End of banner beginning of content cards -->
    <div onclick="toggleSidebar()" class="filter__button" aria-hidden="true"><i class="bi bi-person-fill filterButton"
            aria-label="Prikaži izbornik" tabindex="-1"></i>
    </div>
    <section id="main" class="container-xxl filterContent__container" aria-label="sadržaj">
        {{> lijevi-izbornik}}
        <section class="card">
            <div class="card-body">
                <h2 class="card-title m-0 pb-0">{{pageSubtitle}}</h2>
                <div class="mt-5">
                    <h4 class="my-3">Uvjeti pretrage</h4>
                    <a class="text-danger text-decoration-none mb-5" data-bs-toggle="collapse" href="#infoTekst"
                        role="button" aria-expanded="false" aria-controls="Informacije"
                        aria-label="Informacije o dodavanju korisnika iz tekst datoteke">
                        Info
                    </a>
                    <div class="collapse" id="infoTekst">
                        <div class="card card-body">
                            <div>
                                <strong>Promjena datuma isteka</strong><br>
                                <br>
                                Legenda:<br><br>
                                <u>uid</u> - klikom na uid korisnika odlazite na stranicu na kojoj možete ažurirati
                                korisnikove podatke.<br>
                                <u>Označi sve korisnike</u> - klikom na ovu opciju označit ćete sve korisnike prikazane
                                na listi.<br>
                                <u>Odznači sve korisnike</u> - ako kliknete na ovu opciju svi ranije označeni korisnici
                                bit će odznačeni.<br>
                                <img src="/assets/img/excel-icon.svg" border="0"> - export svih korisnika koji
                                zadovoljavaju
                                uvjete pretrage u csv datoteku. Klik na ovu ikonicu vodi vas na ekran u kojemu možete
                                odabrati atribute čije vrijednosti želite eksportirati za svakog korisnika.<br>
                                <br>
                                <br>
                                Ova stranica logički je podjeljena u tri dijela: gornji dio služi za postavljanje uvjeta
                                pretrage, u srednjem dijelu su polje za unos novog datuma isteka i gumb kojim pokrećete
                                akciju promjene datuma isteka svim označenim korisnicima u datum upisan u polju za unos
                                novog datuma isteka, dok je u donjem dijelu dana lista korisnika koji zadovoljavaju
                                uvjete pretrage. U dnu ekrana je poruka o ukupnom broju korisnika koji zadovoljavaju
                                uvjete pretrage i ikonica za eksport korisnika u csv datoteku.<br>
                                <br>
                                <strong>Postavljanje uvjeta pretrage</strong><br>
                                U polja pored naziva atributa upišite vrijednost (ili je odaberite s liste) i kliknite
                                na Pretraži.<br>
                                Kod postavljanje uvjeta pretrage znak * zamjenjujuje bilo koji niz znakova ili prazan
                                skup. Tako ćete, npr., ako u polje uid upišete m* dobiti sve korisnike kojima uid
                                počinje slovom m.<br>
                                Ako između naziva atributa i polja predviđenog za unos vrijednosti po kojoj želite
                                pretraživati stoji znak &lt;= , onda će uvjet pretrage biti manji ili jednak.
                                Dakle, rezultat će biti svi korisnici kojima je vrijednost odabranog atributa manja ili
                                jednaka vrijednosti upisanoj u polju za postavljanje uvjeta pretrage.<br>
                                Ako postavite više uvjeta pretrage, rezultat će biti oni korisnici koji zadovoljavaju
                                sve postavljene uvjete.<br>
                                Popis polja po kojima se može pretraživati, kao i uvjet (= ili &lt;=) moguće je podesiti
                                u konfiguracijskoj datoteci web sučelja.<br>
                                Ako ne upišete nijedan uvijet pretrage i kliknete na Pretraži, neće biti prikazan niti
                                jedan korisnik.
                                <br>
                                <br>
                                <strong>Lista korisnika koji zadovoljavaju uvjete pretrage</strong><br>
                                U donjem dijelu ekrana prikazana je lista svih korisnika koji zadovoljavaju uvjete
                                pretrage.<br>
                                Sve korisnike moguće je eksportirati u csv datoteku koristeći ikonicu pri dnu ekrana.
                                Klik na uid korisnika vodi vas na stranicu na kojoj je moguće ažurirati podatke o
                                korisniku. Kućica u zadnjoj koloni s desne strane služi za odabir korisnika za promjenu
                                datuma isteka.<br>
                                Osim toga, u dnu stranice možete vidjeti i ukupan broj korisnika koji zadovoljavaju
                                uvjete pretrage.<br><br>
                                <strong>Promjena datuma isteka</strong><br>
                                Nakon što ste postavili uvjete i dobili listu korisnika koji zadovoljavaju uvjete
                                pretrage, na listi je potrebno (koristeći kućice u desnoj koloni) odabrati korisnike
                                kojima želite promjeniti datum isteka. Ako želite označiti sve korisnike, možete za to
                                koristiti opciju <u>Označi sve korisnike</u>.
                                Kad označite korisnike kojima želite promjeniti datum isteka, u polje za unos novog
                                datuma isteka upišite datum u koji želite korisnicima promjeniti datum isteka (za
                                korisnike kojima temeljna povezanost s ustanovom ne ističe možete upisati vrijednost
                                NONE), i kliknite na gumb Promjeni.<br>
                                Po obavljenoj akciji, bit će vam prikazan izvještaj iz kojega možete vidjeti je li
                                operacija ažuriranja bila uspješna za svakog pojedinog odabranog korisnika.
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                    {{> uvjeti text="Identifikator korisnika u ustanovi" code="uid" identificator="uid" }}
                    {{> uvjeti text="Brojčani identifikator osobe" code="hrEduPersonUniqueNumber" identificator="hrEduPersonUniqueNumber" }}
                    {{> uvjeti text="OIB" code="hrEduPersonOIB" identificator="hrEduPersonOIB" }}
                    {{> uvjeti text="Temeljna Povezanost s ustanovom" code="hrEduPersonPrimaryAffiliation" identificator="hrEduPersonPrimaryAffiliation" select="true"  }}
                    {{> uvjeti text="Ime" code="givenName" identificator="givenName" }}
                    {{> uvjeti text="Prezime" code="sn" identificator="prezime" }}
                    {{> uvjeti text="Datum isteka temeljne povezanosti" code="hrEduPersonExpireDate" identificator="hrEduPersonExpireDate" sign="<="}}
                    {{> uvjeti text="Datum isteka temeljne povezanosti"  code="hrEduPersonExpireDate1" identificator="hrEduPersonExpireDate" sign=">="}}
                </div>
                <div class="d-flex justify-content-center my-3">
                    <button class="btn btn-outline-secondary me-2">Pretraži</button>
                </div>
                <div class="d-flex flex-column justify-content-between my-2 align-items-start mt-5">
                    <label for="promjenaDatuma" class="form-label text-black fw-bold"
                        aria-label="Brisanje korisnika">Brisanje korisnika</label>
                    <div class="d-flex align-items-center">
                        <p class="mb-0">Označite korisnike koje želite obrisati i kliknite na Obriši</p>
                        <button class="btn btn-outline-secondary ms-2">Obriši</button>
                    </div>
                </div>
                <div class="d-flex flex-column align-items-center mt-5">
                    <div class="ms-auto mb-4">
                        <button class="btn btn-outline-secondary me-2">Označi sve korisnike</button>
                        <button class="btn btn-outline-secondary me-2">Odznači sve korisnike</button>
                    </div>
                    <p>Nema rezultata</p>
                </div>
                {{> tablica odabir="true"}}
            </div>
</div>
</section>
</section>
</div>