<div class="container-fluid content-wrapper p-0 flex-grow-1">
        <!-- Banner -->
        <div class="container-fluid banner__visual">
            {{> banner__inner}}
            <div class="custom-shape-divider-bottom-1707211383">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                    preserveAspectRatio="none">
                    <path
                        d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
                        class="shape-fill"></path>
                </svg>
            </div>
            <div class="custom-shape-divider-bottom-1707731651">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                    preserveAspectRatio="none">
                    <path
                        d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
                        class="shape-fill"></path>
                </svg>
            </div>
        </div>
        <!-- End of banner beginning of content cards -->
        <div onclick="toggleSidebar()" class="filter__button" aria-hidden="true"><i
                class="bi bi-person-fill filterButton" aria-label="Prikaži opcije mog repozitorija" tabindex="-1"></i>
        </div>
        <section id="browse-by-type__content" class="container-lg filterContent__container">
            <!--  Komponenta filtera / bocnog izbornika , ukoliko nema filtera na parent staviti nofilterContent__container klasu umjesto filterContent__container -->
            <section class="card card__filters" aria-label="filtriranje">
                <div class="card-body card__filters-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <h2 class="card-title">Filtriraj prema</h2><span onclick="toggleSidebar()"
                            aria-label="Sakrij opcije mog repozitorija"><i class="bi bi-box-arrow-left filterButton"
                                tabindex="0"></i></span>
                    </div>
                    <p class="card-text">
                    <h4>USTANOVAMA I ODJELIMA</h4>
                    <ul>
                        <li><a href="">Postavke repozitorija<span
                                    class="ms-1 badge text-bg-danger rounded-pill">10</span></a>
                        </li>
                        <li><a href="">Izgled repozitorija<span
                                    class=" ms-1 badge text-bg-danger rounded-pill">10</span></a>
                        </li>
                        <li><a href="">Korisnici<span class="ms-1 badge text-bg-danger rounded-pill">10</span></a>
                        </li>
                        <li><a href="">Pohranitelji objekata</a></li>
                        <li><a href="">Neaktivni objekti<span
                                    class="ms-1 badge text-bg-danger rounded-pill">10</span></a>
                        </li>
                        <li><a href="">Zahtjevi za pristup objektima</a></li>
                        <li><a href="">Često postavljana pitanja</a><i class="ms-2 bi bi-box-arrow-up-right"></i>
                        </li>
                        <li><a href="">Moji objekti</a></li>
                        <li><a href="">Moje liste</a></li>
                    </ul>
                    </p>
                </div>
            </section>
            <!--  Kraj filter / bocni izbornik komponente -->
            <section class="card pb-5" aria-label="pregledavanje objekata">
                <div>
                    <div class="card-body content__body">
                        <h2 class="card-title">Vrsta rada</h2>
                        <hr class="" aria-hidden="true">
                        <!-- ////////////////////////////// -->
                        <section class="lista__objekata">

                            <div class="pohrana__objekta-wrapper accordion mt-1">
                                <div class="pohrana__objekta accordion-item">
                                    <div class="pohrana__objekta-linkWrapper">
                                        <a href="#" class="w-100">
                                            <div class="pohrana__objekta-naslov"><i class="bi bi-mortarboard"></i>
                                                <p class="m-0">Završni. diplomski i specijalistički rad
                                                    <span>(9740)</span>
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- ////// -->
                            <div class="pohrana__objekta-wrapper accordion mt-1">
                                <div class="pohrana__objekta accordion-item">
                                    <div class="pohrana__objekta-linkWrapper">
                                        <a href="#" class="w-100">
                                            <div class="pohrana__objekta-naslov"><i class="bi bi-mortarboard"></i>
                                                <p class="m-0">Doktorski i znanstveni magistarski radovi</span></p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- ///////// -->
                            <div class="pohrana__objekta-wrapper accordion mt-1">
                                <div class="pohrana__objekta accordion-item">
                                    <div class="pohrana__objekta-linkWrapper">
                                        <a href="#" class="w-100">
                                            <div class="pohrana__objekta-naslov"><i class="bi bi-mortarboard"></i>
                                                <p class="m-0">Prilog ocjenskom radu <span>(235345)</span></p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- ////// -->
                            <div class="pohrana__objekta-wrapper accordion mt-1">
                                <div class="pohrana__objekta accordion-item">
                                    <div class="pohrana__objekta-linkWrapper">
                                        <a href="#" class="w-100">
                                            <div class="pohrana__objekta-naslov"><i class="bi bi-mortarboard"></i>
                                                <p class="m-0">Umjetnički završni i diplomski radovi
                                                    <span>(9740)</span>
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="pohrana__objekta-wrapper accordion mt-1">
                                <div class="pohrana__objekta accordion-item">
                                    <div class="pohrana__objekta-linkWrapper">
                                        <a href="#" class="w-100">
                                            <div class="pohrana__objekta-naslov"><i class="bi bi-journal-richtext"></i>
                                                <p class="m-0">Prilog u časopisu <span>(22325)</span></p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- ///// -->
                            <div class="pohrana__objekta-wrapper accordion mt-1">
                                <div class="pohrana__objekta accordion-item">
                                    <div class="pohrana__objekta-linkWrapper">
                                        <a href="#" class="w-100">
                                            <div class="pohrana__objekta-naslov"><i class="bi bi-file-slides"></i>
                                                <p class="m-0">Prilog sa skupa (u zborniku) <span>(1964)</span></p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- ////// -->
                            <div class="pohrana__objekta-wrapper accordion mt-1">
                                <div class="pohrana__objekta accordion-item">
                                    <div class="pohrana__objekta-linkWrapper">
                                        <a href="#" class="w-100">
                                            <div class="pohrana__objekta-naslov"><i class="bi bi-book"></i>
                                                <p class="m-0">Knjiga <span>(1394)</span></p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- ////// -->
                            <div class="pohrana__objekta-wrapper accordion mt-1">
                                <div class="pohrana__objekta accordion-item">
                                    <div class="pohrana__objekta-linkWrapper">
                                        <a href="#" class="w-100">
                                            <div class="pohrana__objekta-naslov"><i class="bi bi-book"></i>
                                                <p class="m-0">Prilog u knjizi<span>(2845)</span></p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- ////// -->
                            <div class="pohrana__objekta-wrapper accordion mt-1">
                                <div class="pohrana__objekta accordion-item">
                                    <div class="pohrana__objekta-linkWrapper">
                                        <a href="#" class="w-100">
                                            <div class="pohrana__objekta-naslov"><i class="bi bi-file-slides"></i>
                                                <p class="m-0">Izlaganje sa skupa <span>(618)</span></p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- ////// -->
                            <div class="pohrana__objekta-wrapper accordion mt-1">
                                <div class="pohrana__objekta accordion-item">
                                    <div class="pohrana__objekta-linkWrapper">
                                        <a href="#" class="w-100">
                                            <div class="pohrana__objekta-naslov"><i class="bi bi-file-earmark"></i>
                                                <p class="m-0">Druge vrste dokumenata <span>(1622)</span></p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- ////// -->
                            <div class="pohrana__objekta-wrapper accordion mt-1">
                                <div class="pohrana__objekta accordion-item">
                                    <div class="pohrana__objekta-linkWrapper">
                                        <a href="#" class="w-100">
                                            <div class="pohrana__objekta-naslov"><i
                                                    class="bi bi-file-earmark-bar-graph"></i>
                                                <p class="m-0">Plan
                                                    upravljanja
                                                    istraživačkim podacima <span>(412)<span></p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- ////// -->
                            <div class="pohrana__objekta-wrapper accordion mt-1">
                                <div class="pohrana__objekta accordion-item">
                                    <div class="pohrana__objekta-linkWrapper">
                                        <a href="#" class="w-100">
                                            <div class="pohrana__objekta-naslov"><i class="bi bi-palette"></i>
                                                <p class="m-0">Slikovna građa <span>(252)</span></p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- //////////// -->
                            <div class="pohrana__objekta-wrapper accordion mt-1">
                                <div class="pohrana__objekta accordion-item">
                                    <div class="pohrana__objekta-linkWrapper">
                                        <a href="#" class="w-100">
                                            <div class="pohrana__objekta-naslov"><i class="bi bi-earbuds"></i>
                                                <p class="m-0">Audio građa <span>(20)</span></p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- ////// -->
                            <div class="pohrana__objekta-wrapper accordion mt-1">
                                <div class="pohrana__objekta accordion-item">
                                    <div class="pohrana__objekta-linkWrapper">
                                        <a href="#" class="w-100">
                                            <div class="pohrana__objekta-naslov"><i class="bi bi-camera-reels"></i>
                                                <p class="m-0">Audiovizualna građa <span>(615)</span></p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- ////// -->
                            <div class="pohrana__objekta-wrapper accordion mt-1">
                                <div class="pohrana__objekta accordion-item">
                                    <div class="pohrana__objekta-linkWrapper">
                                        <a href="#" class="w-100">
                                            <div class="pohrana__objekta-naslov"><i class="bi bi-puzzle"></i>
                                                <p class="m-0">Obrazovni sadržaj <span>(227)</span></p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- //////// -->
                            <div class="pohrana__objekta-wrapper accordion mt-1">
                                <div class="pohrana__objekta accordion-item">
                                    <div class="pohrana__objekta-linkWrapper">
                                        <a href="#" class="w-100">
                                            <div class="pohrana__objekta-naslov"><i class="bi bi-clipboard-data"></i>
                                                <p class="m-0">Skup podataka / istraživački podaci
                                                    <span>(227)</span>
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- ////// -->
                            <div class="pohrana__objekta-wrapper accordion mt-1">
                                <div class="pohrana__objekta accordion-item">
                                    <div class="pohrana__objekta-linkWrapper">
                                        <a href="#" class="w-100">
                                            <div class="pohrana__objekta-naslov"><i class="bi bi-collection"></i>
                                                <p class="m-0">Virtualna zbirka <span>(43)</span></p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </section>
                    </div>
                </div>
            </section>
        </section>
    </div>