 <div class="container-fluid content-wrapper p-0 flex-grow-1">
        <!-- Banner -->
        <div class="container-fluid banner__visual">
            {{> banner__inner}}
            <div class="custom-shape-divider-bottom-1707211383">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                    preserveAspectRatio="none">
                    <path
                        d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
                        class="shape-fill"></path>
                </svg>
            </div>
            <div class="custom-shape-divider-bottom-1707731651">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                    preserveAspectRatio="none">
                    <path
                        d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
                        class="shape-fill"></path>
                </svg>
            </div>
        </div>
        <!-- End of banner beginning of content cards -->
        <section class="container-lg nofilterContent__container" aria-label="pregledavanje objekata">
            <section class="card pb-5">
                <div>
                    <div class="card-body content__body">
                        <section class="lista__objekata">
                            <div class="pohrana__objekta-wrapper accordion">
                                <div class="pohrana__objekta accordion-item">
                                    <div class="pohrana__objekta-linkWrapper">
                                        <a href="#" class="w-100">
                                            <div class="pohrana__objekta-naslov"><i class="bi bi-files"></i>
                                                <p class="m-0">Svih dokumenata</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- ////// -->
                            <div class="pohrana__objekta-wrapper accordion">
                                <div class="pohrana__objekta accordion-item">
                                    <div class="pohrana__objekta-linkWrapper">
                                        <a href="#" class="w-100">
                                            <div class="pohrana__objekta-naslov"><i class="bi bi-person"></i>
                                                <p class="m-0">Autoru</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- ////// -->
                            <div class="pohrana__objekta-wrapper accordion">
                                <div class="pohrana__objekta accordion-item">
                                    <div class="pohrana__objekta-linkWrapper">
                                        <a href="#" class="w-100">
                                            <div class="pohrana__objekta-naslov"><i class="bi bi-book"></i>
                                                <p class="m-0">Časopisu</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- ///// -->
                            <div class="pohrana__objekta-wrapper accordion">
                                <div class="pohrana__objekta accordion-item">
                                    <div class="pohrana__objekta-linkWrapper">
                                        <a href="#" class="w-100">
                                            <div class="pohrana__objekta-naslov"><i class="bi bi-people"></i>
                                                <p class="m-0">Članu povjerenstva</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- ////// -->
                            <div class="pohrana__objekta-wrapper accordion">
                                <div class="pohrana__objekta accordion-item">
                                    <div class="pohrana__objekta-linkWrapper">
                                        <a href="#" class="w-100">
                                            <div class="pohrana__objekta-naslov"><i class="bi bi-calendar-range"></i>
                                                <p class="m-0">Godini</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- ////// -->
                            <div class="pohrana__objekta-wrapper accordion">
                                <div class="pohrana__objekta accordion-item">
                                    <div class="pohrana__objekta-linkWrapper">
                                        <a href="#" class="w-100">
                                            <div class="pohrana__objekta-naslov"><i class="bi bi-building"></i>
                                                <p class="m-0">Instituciji</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- ////// -->
                            <div class="pohrana__objekta-wrapper accordion">
                                <div class="pohrana__objekta accordion-item">
                                    <div class="pohrana__objekta-linkWrapper">
                                        <a href="#" class="w-100">
                                            <div class="pohrana__objekta-naslov"><i class="bi bi-translate"></i>
                                                <p class="m-0">Jeziku</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- ///// -->
                            <div class="pohrana__objekta-wrapper accordion">
                                <div class="pohrana__objekta accordion-item">
                                    <div class="pohrana__objekta-linkWrapper">
                                        <a href="#" class="w-100">
                                            <div class="pohrana__objekta-naslov"><i class="bi bi-filetype-key"></i>
                                                <p class="m-0">Ključnoj riječi</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- ///// -->
                            <div class="pohrana__objekta-wrapper accordion">
                                <div class="pohrana__objekta accordion-item">
                                    <div class="pohrana__objekta-linkWrapper">
                                        <a href="#" class="w-100">
                                            <div class="pohrana__objekta-naslov"><i class="bi bi-building"></i>
                                                <p class="m-0">Organizacijskoj jedinici</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- ////// -->
                            <div class="pohrana__objekta-wrapper accordion">
                                <div class="pohrana__objekta accordion-item">
                                    <div class="pohrana__objekta-linkWrapper">
                                        <a href="#" class="w-100">
                                            <div class="pohrana__objekta-naslov"><i class="bi bi-building"></i>
                                                <p class="m-0">Repozitoriju</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- ////// -->
                            <div class="pohrana__objekta-wrapper accordion">
                                <div class="pohrana__objekta accordion-item">
                                    <div class="pohrana__objekta-linkWrapper">
                                        <a href="#" class="w-100">
                                            <div class="pohrana__objekta-naslov"><i class="bi bi-card-checklist"></i>
                                                <p class="m-0">Studijskom programu</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- ////// -->
                            <div class="pohrana__objekta-wrapper accordion">
                                <div class="pohrana__objekta accordion-item">
                                    <div class="pohrana__objekta-linkWrapper">
                                        <a href="#" class="w-100">
                                            <div class="pohrana__objekta-naslov"><i class="bi bi-files"></i>
                                                <p class="m-0">Svi dokumenti</p>
                                            </div>
                                        </a>

                                    </div>
                                </div>
                            </div>
                            <!-- ////// -->
                            <div class="pohrana__objekta-wrapper accordion">
                                <div class="pohrana__objekta accordion-item">
                                    <div class="pohrana__objekta-linkWrapper">
                                        <a href="#" class="w-100">
                                            <div class="pohrana__objekta-naslov"><i
                                                    class="bi bi-person-exclamation"></i>
                                                <p class="m-0">Voditelju / mentoru</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- //////////// -->
                            <div class="pohrana__objekta-wrapper accordion">
                                <div class="pohrana__objekta accordion-item">
                                    <div class="pohrana__objekta-linkWrapper">
                                        <a href="#" class="w-100">
                                            <div class="pohrana__objekta-naslov"><i class="bi bi-layout-wtf"></i>
                                                <p class="m-0">Vrsti rada
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- ////// -->
                            <div class="pohrana__objekta-wrapper accordion">
                                <div class="pohrana__objekta accordion-item">
                                    <div class="pohrana__objekta-linkWrapper">
                                        <a href="#" class="w-100">
                                            <div class="pohrana__objekta-naslov"><i class="bi bi-diagram-3"></i>
                                                <p class="m-0">Znanstvenom području</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- ////// -->
                            <div class="pohrana__objekta-wrapper accordion">
                                <div class="pohrana__objekta accordion-item">
                                    <div class="pohrana__objekta-linkWrapper">
                                        <a href="#" class="w-100">
                                            <div class="pohrana__objekta-naslov"><i class="bi bi-clipboard-data"></i>
                                                <p class="m-0">Planu upravljanja istraživačkim podacima</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </section>
    </div>