<div class="container-fluid content-wrapper p-0 flex-grow-1">
    <div class="container-fluid banner__visual">
        {{> banner__inner}}
        {{> shape__divider}}
    </div>
    <!-- End of banner beginning of content cards -->
    <div onclick="toggleSidebar()" class="filter__button" aria-hidden="true"><i class="bi bi-person-fill filterButton"
            aria-label="Prikaži izbornik" tabindex="-1"></i>
    </div>
    <section id="main" class="container-xxl filterContent__container" aria-label="sadržaj">
        {{> lijevi-izbornik}}
        <section class="card">
            <div class="card-body">
                <h2 class="card-title m-0 pb-0">{{pageSubtitle}}</h2>
                <div class="mt-5">
                    <a class="text-danger text-decoration-none mb-5" data-bs-toggle="collapse" href="#infoTekst"
                        role="button" aria-expanded="false" aria-controls="Informacije"
                        aria-label="Informacije o dodavanju korisnika iz tekst datoteke">
                        Info
                    </a>
                    <div class="collapse" id="infoTekst">
                        <div class="card card-body">
                            <td>
                                <strong>Kako formatirati tekstualnu datoteku za dodavanje korisnika:</strong><br>
                                Format tekstualne datoteke mora biti slijedeći:<br>
                                U prvoj liniji tekstualne datoteke trebaju biti navedeni nazivi atributa
                                koje želite unijeti za korisnike na listi (odvojeni nekim delimiterom).
                                Minimalan set atributa koji treba postojati za svakog korisnika je:
                                <ul>
                                    <li>uid (Identifikator korisnika u ustanovi)</li>

                                    <li>hrEduPersonOIB (OIB osobe)</li>
                                    <li>userPassword (Zaporka)</li>
                                    <li>givenName (Ime)</li>
                                    <li>sn (Prezime)</li>
                                    <li>mail (Elektronička adresa)</li>
                                    <li>hrEduPersonPrimaryAffiliation (Temeljna povezanost s ustanovom)</li>
                                    <li>hrEduPersonExpireDate (Datum isteka temeljne povezanosti) -
                                        format datuma: dd.mm.gggg. </li>
                                </ul>
                                a mogu biti upisani svi atributi koji postoje u shemi.<br>
                                Kroz tekstualnu datoteku za svaki atribut moguće je upisati samo
                                jednu vrijednost.
                                <br>
                                U svakom slijedećem redku datoteke trebaju biti podaci za po jednog
                                korisnika. Naravno, vrijednosti pojedinih atributa u redku trebaju
                                biti poredane istim redoslijedom i odvojene istim delimiterom kao
                                i nazivi atributa iz prvog redka.<br>
                                <strong>Primjer tekstualne datoteke:</strong>
                                <p
                                    style="background-color: white;font-family:sans-serif;font-size: small;font-weight: normal;color: Black;text-align: left;border: 1px solid black;padding: 3px;">
                                    uid;userPassword;givenName;sn;hrEduPersonOIB;mail;hrEduPersonPrimaryAffiliation;hrEduPersonExpireDate<br>
                                    test;password12;Testko;Testić;12345678901;test@srce.hr;djelatnik;NONE<br>
                                    testa;apassword12;Testko1;Testić;NONE;test@srce.hr;učenik;01.09.2006.<br>
                                    testb;bpassword12;Testko2;Testić;10987654321;test@srce.hr;student;31.10.2007.<br>
                                </p>

                                <strong>Upload datoteke:</strong><br>
                                Iz padajuće liste odaberete encoding (ako je datoteka nastala korištenjem
                                nekog tekst editora pod windows operativnim sustavom, obično je to
                                windows 1250), zatim upišete delimiter koji ste koristili u datoteci,
                                kliknete na gumb Browse i odaberete datoteku za prijenos, te kliknete na gumb Dodaj.<br>
                                Nakon što se obradi lista korisnika koje želite dodati, bit će Vam prikazan izvještaj iz
                                kojega možete vidjeti je li operacija dodavanja bila uspješna za svakog pojedinog
                                korisnika s liste.<br>
                                Preporuka je zbog nekih ograničenja (npr. timeout) kroz tekstualnu datoteku odjednom ne
                                dodavati više od 100-tinjak korisnika (naravno, taj broj ovisi o raznim parametrima kao
                                snaga poslužitelja, opterećenost i sl).
                            </td>
                        </div>
                    </div>
                    {{> tekst-datoteke text="Tip datoteke CSV"}}
                    {{> tekst-datoteke text="Encoding datoteke" select="true"}}
                    {{> tekst-datoteke text="Delimiter" input="true" inputValue="#"}}
                    {{> tekst-datoteke text="Datoteka" file="true"}}
                </div>
                <div class="d-flex justify-content-center my-3">
                    <button class="btn btn-outline-secondary me-2">Dodaj</button>
                </div>
            </div>
        </section>
    </section>
</div>