<div class="container-fluid content-wrapper p-0 flex-grow-1">
    <div class="container-fluid banner__visual">
        {{> banner__inner}}
        {{> shape__divider}}
    </div>
    <!-- End of banner beginning of content cards -->
    <div onclick="toggleSidebar()" class="filter__button" aria-hidden="true"><i class="bi bi-person-fill filterButton"
            aria-label="Prikaži izbornik" tabindex="-1"></i>
    </div>
    <section id="main" class="container-xxl filterContent__container" aria-label="sadržaj">
        {{> lijevi-izbornik}}
        <section class="card">
            <div class="card-body">
                <h2 class="card-title m-0 pb-0">{{pageSubtitle}}</h2>
                <div class="mt-5">
                    {{> atributi text="Identifikator korisnika u ustanovi" code="uid" identificator="identifikator" description="Identifikator korisnika (u pravilu login-name; userid) kojom se identificira osoba
                                    na matičnoj ustanovi (lokalno); može se rabiti za (lokalnu) autentikaciju; mora
                                    imati istu vrijednost kao lokalni_id u atributu hrEduPersonUniqueID (korisnička
                                    oznaka)." input="true"}}
                    {{> atributi text="OIB" code="hrEduPersonOIB" identificator="oid" description="Vrijednost atributa je OIB broj osobe. Koristi se za dodatnu provjeru identiteta kod autorizacije. Ako vrijednost ovoga atributa nije NONE tada jedna od vrijednosti atributa hrEduPersonUniqueNumber mora biti odgovarajući OIB. Također, ako je jedna od vrijednosti atributa hrEduPersonUniqueNumber OIB osobe tada ta vrijednost mora odgovorati vrijednosti atributa hrEduPersonOIB." input="true"}}
                    {{> atributi text="Zaporka" code="userPassword" identificator="zaporka" description="Korisnička zaporka; rabi se pri autentikaciji; preporuča se čuvati je u imeniku kriptiranu te izbjegavati uporabu znakova koji bi zbog uporabe različitih kodnih stranica mogli stvoriti probleme korisnicima." input="true"}}
                    {{> atributi text="Ime" code="givenName" identificator="ime" description="Ime osobe" input="true"}}
                    {{> atributi text="Prezime" code="sn" identificator="prezime" description="Prezime osobe" input="true"}}
                    {{> atributi text="Elektronička adresa" code="email" identificator="e-mail" description="Elektronička adresa osobe; nužno je da jedna od vrijednosti ovoga atributa bude i službena elektronička adresa osobe (ona koju matična ustanova koristi za korespodenciju s osobom)." input="true"}}
                    {{> atributi text="Temeljna povezanost s ustanovom" code="hrEduPersonPrimaryAffiliation" identificator="temeljnaPovezanost" description="Temeljna (primarna) veza između osobe i matične ustanove. Mora biti jedna od vrijednosti upisana u atributu povezanost s ustanovom (hrEduPersonAffiliation)." select="true"}}
                    {{> atributi text="Datum isteka temeljne povezanosti" code="hrEduPersonExpireDate" identificator="datumIsteka" description="Datum do kojeg vrijedi odnos s ustanovom definiran u temeljnoj povezanosti (hrEduPersonPrimaryAffiliation) zapisan po RFC 3339 standardu (ggggmmdd)." calendar="true"}}
                    {{> atributi text="Organizacijska jedinica" code="ou" identificator="jedinica" description="Naziv organizacijske jedinice kojoj pripada osoba (sukladno unutarnjem ustroju matične ustanove)." input="true"}}
                </div>
                <div class="d-flex justify-content-center my-3">
                    <button class="btn btn-secondary me-2">Dodaj</button>
                    <button class="btn btn-outline-info ms-2">Poništi</button>
                </div>
            </div>
        </section>
    </section>
</div>