<div class="container-fluid content-wrapper p-0 flex-grow-1">
    <div class="container-fluid banner__visual">
        {{> banner__inner}}
        {{> shape__divider}}
    </div>
    <!-- End of banner beginning of content cards -->
    <div onclick="toggleSidebar()" class="filter__button" aria-hidden="true"><i class="bi bi-person-fill filterButton"
            aria-label="Prika탑i izbornik" tabindex="-1"></i>
    </div>
    <section id="main" class="container-xxl filterContent__container" aria-label="sadr탑aj">
        {{> lijevi-izbornik}}
        <section class="card">
            <div class="card-body">
                <h2 class="card-title m-0 pb-0">{{pageSubtitle}}</h2>
                <div class="mt-5">
                    <h4 class="my-3">Uvjeti pretrage</h4>
                    {{> uvjeti text="Identifikator korisnika u ustanovi" code="uid" identificator="uid" sign="="}}
                    {{> uvjeti text="Broj훾ani identifikator osobe" code="hrEduPersonUniqueNumber" identificator="hrEduPersonUniqueNumber" sign="="}}
                    {{> uvjeti text="OIB" code="hrEduPersonOIB" identificator="hrEduPersonOIB" sign="="}}
                    {{> uvjeti text="Temeljna Povezanost s ustanovom" code="hrEduPersonPrimaryAffiliation" identificator="hrEduPersonPrimaryAffiliation" select="true" sign="=" }}
                    {{> uvjeti text="Ime" code="givenName" identificator="givenName" sign="="}}
                    {{> uvjeti text="Prezime" code="sn" identificator="prezime" sign="="}}
                    {{> uvjeti text="Datum isteka temeljne povezanosti" code="hrEduPersonExpireDate" identificator="hrEduPersonExpireDate" sign="<="}}
                    {{> uvjeti text="Datum isteka temeljne povezanosti" code="hrEduPersonExpireDate1" identificator="hrEduPersonExpireDate" sign=">="}}
                </div>
                <div class="d-flex justify-content-center my-3">
                    <button class="btn btn-outline-secondary me-2">Pretra탑i</button>
                </div>
            </div>
            {{> tablica}}
        </section>

    </section>

</div>