<div class="container-fluid content-wrapper p-0 flex-grow-1">
  <!-- Banner -->
  <div class="container-fluid banner__visual">
    <div class="container-lg banner__content">
      <div class="text__content">
        <h1 class="mt-0">Aplikacija za održavanje sadržaja imenika (AOSI) u
          sustavu Autorizacijske i autentikacijske infrastrukture visokog
          obrazovanja Republike Hrvatske AAI@EduHr</h1>
      </div>
      <img src="./assets/img/kljucanica.svg" class="banner__visual-book" alt="" aria-hidden="true" />
    </div>
    <div class="custom-shape-divider-bottom-1707211383">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path
          d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
          class="shape-fill"></path>
      </svg>
    </div>
    <div class="custom-shape-divider-bottom-1707731651">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path
          d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
          class="shape-fill"></path>
      </svg>
    </div>
  </div>
  <section class="content__section container-lg">
    <div class="content__section-cards mt-5">
      <div class="card">
        <img src="./assets/img/za__korisnike.svg" class="card-img-top" alt="" aria-hidden="true" />
        <div class="card-body">
          <h2 class="card-title">Za korisnike</h2>
          <p class="card-text">Some quick example text to build on the card
            title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-lightrose">O sustavu</a>
        </div>
      </div>
      <div class="card">
        <img src="./assets/img/za__administratore.svg" class="card-img-top" alt="" aria-hidden="true" />
        <div class="card-body">
          <h2 class="card-title">Za administratore</h2>
          <p class="card-text">Some quick example text to build on the card
            title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-lightrose">Kontakt</a>
        </div>
      </div>
      <div class="card">
        <img src="./assets/img/mojAAIEdu.svg" class="card-img-top" alt="" aria-hidden="true" />
        <div class="card-body">
          <h2 class="card-title">Moj AAIEdu</h2>
          <p class="card-text">Some quick example text to build on the card
            title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-lightrose">O sustavu</a>
        </div>
      </div>
    </div>
  </section>
</div>