<div class="container-fluid content-wrapper p-0"></div>
            <!-- Banner -->
            <div class="container-fluid banner__visual">
                {{> banner__main}}
                {{> shape__divider}}
            </div>
            <!-- End of banner beginning of content cards -->
            {{> statistics}}
            <section class="content__section container-lg">
                <section>
                {{> news__object}}
                {{> news__object}}
                {{> news__object}}
                </section>
                <section class="mt-4">
                {{> object__results}}
                {{> object__results}}
                {{> object__results}}
                {{> object__results}}
                {{> object__results}}
                </section>
            </section>
        </div>