<div class="container-fluid content-wrapper p-0 flex-grow-1"></div>
        <div class="container-fluid banner__visual">
            {{> banner__inner}}
            {{> shape__divider}}
        </div>
        <section id="news__content" class="container-xxl nofilterContent__container" aria-label="Vijest">
            <div class="card">
                <div class="card-body content__body mb-1">
                    <div class="content__body-newsDate">11. srpanja 2024.</div>
                    <img src="https://50.srce.hr/assets/images/egi2.jpg" class="card-img-top news" alt="slika vijesti">
                    <div class="content__body-newsContent">
                        <p>Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Atque
                            adipisci velit maxime error
                            tempore beatae quibusdam distinctio quas, nesciunt ut pariatur id similique accusantium!
                            Repudiandae iste excepturi delectus consectetur neque voluptatum itaque molestias unde
                            id,
                            aliquam facere voluptatem quod. Ex dolorum qui corrupti sunt! Blanditiis architecto,
                            adipisci soluta facere voluptatibus corrupti placeat totam neque optio error, minima et
                            sequi. Illo quidem deleniti, quia natus consectetur magni ab! Dignissimos illum sit
                            saepe
                            aspernatur alias consequuntur, nulla culpa ipsam aut sequi recusandae beatae architecto
                            hic
                            deleniti? Quas voluptatum officia, laborum ad autem perspiciatis odit quidem nihil, enim
                        </p>
                        <p>Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Atque
                            adipisci velit maxime error
                            tempore beatae quibusdam distinctio quas, nesciunt ut pariatur id similique accusantium!
                            Repudiandae iste excepturi delectus consectetur neque voluptatum itaque molestias unde
                            id,
                            aliquam facere voluptatem quod. Ex dolorum qui corrupti sunt! Blanditiis architecto,
                            adipisci soluta facere voluptatibus corrupti placeat totam neque optio error, minima et
                            sequi. Illo quidem deleniti, quia natus consectetur magni ab! Dignissimos illum sit
                            saepe
                            aspernatur alias consequuntur, nulla culpa ipsam aut sequi recusandae beatae architecto
                            hic
                            deleniti? Quas voluptatum officia, laborum ad autem perspiciatis odit quidem nihil, enim
                        </p>
                        <p>Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Atque
                            adipisci velit maxime error
                            tempore beatae quibusdam distinctio quas, nesciunt ut pariatur id similique accusantium!
                            Repudiandae iste excepturi delectus consectetur neque voluptatum itaque molestias unde
                            id,
                            aliquam facere voluptatem quod. Ex dolorum qui corrupti sunt! Blanditiis architecto,
                            adipisci soluta facere voluptatibus corrupti placeat totam neque optio error, minima et
                            sequi. Illo quidem deleniti, quia natus consectetur magni ab! Dignissimos illum sit
                            saepe
                            aspernatur alias consequuntur, nulla culpa ipsam aut sequi recusandae beatae architecto
                            hic
                        </p>
                    </div>
                    <div class="content__body-attachments">
                        <h2>Privitci</h2>
                        <ul>
                            <li><a href="#">Conference-programme.pdf <span>(350Kb)</span></a></li>
                            <li><a href="#">Conference-programme.pdf <span>(350Kb)</span></a></li>
                            <li><a href="#">Conference-programme.pdf <span>(350Kb)</span></a></li>
                            <li><a href="#">Conference-programme.pdf <span>(350Kb)</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>