<div class="container-fluid content-wrapper p-0 flex-grow-1">
  <!-- Banner -->
  <div class="container-fluid banner__visual">
    {{> banner__main}}
    {{> shape__divider}}
  </div>
  <!-- End of banner beginning of content cards -->
  {{> statistics}}
  <section
    id="news-horizontal__content"
    class="content__section container-lg"
    aria-label="Vijesti"
  >
    <div class="content__section-cards">
      <div class="card">
        <div class="img__shape-wrapper">
          <a
            href="./views/innerPageNews.html"
            tabindex="-1"
            aria-hidden="true"
          ><img
              src="../assets/img/high-resolution-mountains-and-lakes-l.jpg"
              class="card-img-top news"
              alt=""
            /></a>
          <div class="custom-shape-divider-bottom-1720519403">
            <svg
              data-name="Layer 1"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 1200 120"
              preserveAspectRatio="none"
            >
              <path
                d="M600,112.77C268.63,112.77,0,65.52,0,7.23V120H1200V7.23C1200,65.52,931.37,112.77,600,112.77Z"
                class="shape-fill"
              ></path>
            </svg>
          </div>
        </div>
        <div class="card-body">
          <h2 class="card-title"><a
              href="./views/innerPageNews.html"
              tabindex="0"
            >Dabar slavi 250.000 objavljenih objekata
            </a></h2>
          <p class="card-text">Lorem ipsum, dolor sit amet consectetur
            adipisicing elit. Dolor nostrum voluptates cumque repudiandae
            corporis dolore dolores illo explicabo asperiores corrupti.</p>
          <div
            class="card__info"
            style="display:flex;justify-content:space-between;"
          >
            <p
              style="margin-bottom:15px;display: block;opacity:70%"
              class="card__info-date"
            >6. srpanj</p>
            <a
              href="./views/innerPageNews.html"
              class="card__info-link"
              tabindex="-1"
              aria-hidden="true"
            >Pročitajte više</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="img__shape-wrapper">
          <a
            href="./views/innerPageNews.html"
            tabindex="-1"
            aria-hidden="true"
          ><img
              src="../assets/img/veggies.jpeg"
              class="card-img-top news"
              alt=""
            /></a>
          <div class="custom-shape-divider-bottom-1720519403">
            <svg
              data-name="Layer 1"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 1200 120"
              preserveAspectRatio="none"
            >
              <path
                d="M600,112.77C268.63,112.77,0,65.52,0,7.23V120H1200V7.23C1200,65.52,931.37,112.77,600,112.77Z"
                class="shape-fill"
              ></path>
            </svg>
          </div>
        </div>
        <div class="card-body">
          <h2 class="card-title"><a
              href="./views/innerPageNews.html"
              tabindex="0"
            >Korisničko testiranje sustava Dabar
            </a></h2>
          <p class="card-text">Lorem ipsum, dolor sit amet consectetur
            adipisicing elit. Dolor nostrum voluptates cumque repudiandae
            corporis dolore dolores illo explicabo asperiores corrupti.</p>
          <div
            class="card__info"
            style="display:flex;justify-content:space-between;"
          >
            <p
              style="margin-bottom:15px;display: block;opacity:70%"
              class="card__info-date"
            >8. srpanj</p>
            <a
              href="./views/innerPageNews.html"
              class="card__info-link"
              tabindex="-1"
              aria-hidden="true"
            >Pročitajte više</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="img__shape-wrapper">
          <a
            href="./otvorene-vijesti.html"
            tabindex="-1"
            aria-hidden="true"
          ><img
              src="https://50.srce.hr/assets/images/egi2.jpg"
              class="card-img-top news"
              alt=""
            /></a>
          <div class="custom-shape-divider-bottom-1720519403">
            <svg
              data-name="Layer 1"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 1200 120"
              preserveAspectRatio="none"
            >
              <path
                d="M600,112.77C268.63,112.77,0,65.52,0,7.23V120H1200V7.23C1200,65.52,931.37,112.77,600,112.77Z"
                class="shape-fill"
              ></path>
            </svg>
          </div>
        </div>
        <div class="card-body">
          <h2 class="card-title"><a
              href="./views/innerPageNews.html"
              tabindex="0"
            >Preuzimanje radova s Hrčka u repozitorije u sustavu Dabar</a></h2>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Aliquam architecto voluptatum vel quod consequatur
            nemo sunt quae voluptatibus officiis quas reprehenderit quidem
            neque, hic autem totam quia. Obcaecati, provident itaque?</p>
          <div
            class="card__info"
            style="display:flex;justify-content:space-between;"
          >
            <p
              style="margin-bottom:15px;display: block;opacity:70%"
              class="card__info-date"
            >danas
            </p>
            <a
              href="./views/innerPageNews.html"
              class="card__info-link"
              aria-hidden="true"
              tabindex="-1"
              aria-hidden="true"
            >Pročitajte više</a>
          </div>
        </div>
      </div>
    </div>
    <div class="all__news" style="margin-top:1rem; font-size: 1.25rem;">
      <a href="./views/innerPage.html">Sve objavljene vijesti</a>
    </div>
  </section>
</div>