 <div class="container-fluid content-wrapper p-0 flex-grow-1"></div>
        <div class="container-fluid banner__visual">
           {{> banner__inner}}
           {{> shape__divider}}
        </div>
        <div class="container-xxl nofilterContent__container">
            <section id="object__content" class="card" aria-label="prikaz detalja objekta">
                <div class="card-body">
                    <div class="prikaz__objekta-wrapperPrimarni">
                        <div class="prikaz__objekta-generalno">
                            <div class="mb-2 d-flex justify-content-between"><span
                                    class="badge rounded-pill publikacija" aria-label="">Završni, diplomski
                                    i specijalistički
                                    radovi</span>

                            </div>
                            <h2 aria-label="">Neki aspekt tehničke analize financijskih tržišta</h2>
                            <p aria-label=""><a href="">Lajnert, Vlatka</a>, <a href="">Gržić, Renata</a></p>
                            <p aria-label="">2023.</p>
                            <p aria-label="">Diplomski rad</p>
                            <p aria-label="">Sveučilište u Zagrebu, Filozofski fakultet</p>
                            <p aria-label=""><a href="">urn:nbn:hr:217:672264</a></p>
                            <div id="summary">
                                <p class="collapse" id="collapseSummary">
                                    Kroz ovaj diplomski rad upoznali smo se s osnovnim idejama tehničke
                                    analize koja se primjenjuje pri trgovanju na financijskim tržištima.
                                    Tehnička
                                    analiza proučava tržišna kretanja u prošlosti, primarno korištenjem
                                    grafikona i
                                    indikatora, s ciljem predvidanja budućih kretanja cijena. Glavna premisa da
                                    tržišna
                                    kretanja uzimaju u obzir sve dostupne informacije razlikuje tehničku od
                                    fundamentalne analize. Na početku rada objasnili smo osnovne koncepte u
                                    tehničkoj
                                    analizi, poput linije trenda...
                                </p>
                                <a class="collapsed" data-bs-toggle="collapse" href="#collapseSummary"
                                    aria-expanded="false" aria-controls="collapseSummary"></a>
                            </div>

                            <p aria-label="ključne riječi"><span class="badge rounded-pill text-bg-secondary">tehnička
                                    analiza</span><span class="badge rounded-pill text-bg-secondary">financijska
                                    tržišta</span><span class="badge rounded-pill text-bg-secondary">investicijsko
                                    zlato</span>
                            </p>
                        </div>
                        <div class="prikaz__objekta-datoteka" aria-label="datoteka">
                            <div class="prikaz__objekta-datotekaOpis">
                                <p aria-label=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                        fill="currentColor" class="bi bi-file-earmark-pdf-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M5.523 12.424q.21-.124.459-.238a8 8 0 0 1-.45.606c-.28.337-.498.516-.635.572l-.035.012a.3.3 0 0 1-.026-.044c-.056-.11-.054-.216.04-.36.106-.165.319-.354.647-.548m2.455-1.647q-.178.037-.356.078a21 21 0 0 0 .5-1.05 12 12 0 0 0 .51.858q-.326.048-.654.114m2.525.939a4 4 0 0 1-.435-.41q.344.007.612.054c.317.057.466.147.518.209a.1.1 0 0 1 .026.064.44.44 0 0 1-.06.2.3.3 0 0 1-.094.124.1.1 0 0 1-.069.015c-.09-.003-.258-.066-.498-.256M8.278 6.97c-.04.244-.108.524-.2.829a5 5 0 0 1-.089-.346c-.076-.353-.087-.63-.046-.822.038-.177.11-.248.196-.283a.5.5 0 0 1 .145-.04c.013.03.028.092.032.198q.008.183-.038.465z" />
                                        <path fill-rule="evenodd"
                                            d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2m5.5 1.5v2a1 1 0 0 0 1 1h2zM4.165 13.668c.09.18.23.343.438.419.207.075.412.04.58-.03.318-.13.635-.436.926-.786.333-.401.683-.927 1.021-1.51a11.7 11.7 0 0 1 1.997-.406c.3.383.61.713.91.95.28.22.603.403.934.417a.86.86 0 0 0 .51-.138c.155-.101.27-.247.354-.416.09-.181.145-.37.138-.563a.84.84 0 0 0-.2-.518c-.226-.27-.596-.4-.96-.465a5.8 5.8 0 0 0-1.335-.05 11 11 0 0 1-.98-1.686c.25-.66.437-1.284.52-1.794.036-.218.055-.426.048-.614a1.24 1.24 0 0 0-.127-.538.7.7 0 0 0-.477-.365c-.202-.043-.41 0-.601.077-.377.15-.576.47-.651.823-.073.34-.04.736.046 1.136.088.406.238.848.43 1.295a20 20 0 0 1-1.062 2.227 7.7 7.7 0 0 0-1.482.645c-.37.22-.699.48-.897.787-.21.326-.275.714-.08 1.103" />
                                    </svg><span> PDF </span>,<span>1.42MB</span> (<a href="">Otvori</a>, <a
                                        href="">Preuzmi</a>)</p>
                                <p aria-label=""><span class="fw-bold">Vrsta i jezik sadržaja datoteke:
                                    </span>tekst, hrvatski</p>
                                <p aria-label=""><span class="fw-bold">Način izrade datoteke: </span> izvorno
                                    digitalna</p>
                            </div>
                            <div class="prikaz__objekta-datotekaPrava d-flex flex-column">
                                <p aria-label="" class="badge rounded-pill otvoren-pristup mb-3">otvoren pristup</p>
                                <img src="../assets/img/CC_BY-SA_icon.svg.png" style="height:40px;object-fit: contain;"
                                    alt="">
                            </div>
                        </div>
                        <div class="prikaz__objekta-datoteka" aria-label="datoteka">
                            <div class="prikaz__objekta-datotekaOpis">
                                <p aria-label=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                        fill="currentColor" class="bi bi-paperclip" viewBox="0 0 16 16">
                                        <path
                                            d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0z" />
                                    </svg><span> XSLT </span>,<span>1.41MB</span> (<a href="">Otvori</a>, <a
                                        href="">Preuzmi</a>)</p>
                                <p aria-label=""><span class="fw-bold">Naslov: </span>Prilog</p>
                                <p aria-label=""><span class="fw-bold">Vrsta i jezik sadržaja datoteke:
                                    </span>tekst, hrvatski
                                </p>
                                <p aria-label=""><span class="fw-bold">Opis: </span> Pomoćna tablica za diplomski
                                    rad</p>
                                <p aria-label=""><span class="fw-bold">Način izrade datoteke: </span> izvorno
                                    digitalna</p>
                            </div>
                            <div class="prikaz__objekta-datotekaPrava d-flex flex-column">
                                <p aria-label="" class="badge rounded-pill otvoren-pristup mb-3">otvoren pristup</p>
                                <img src="../assets/img/CC_BY-SA_icon.svg.png" style="height:40px;object-fit: contain;"
                                    alt="">
                            </div>
                        </div>
                        <div class="prikaz__objekta-opis">
                            <p aria-label=""><span class="fw-bold">Autor/i: </span><a href="">Čuljak, Denis</a>
                            </p>
                            <p aria-label=""><span class="fw-bold">Mentori/voditelji izrade: </span><a href="">Kuzmanić,
                                    Ante</a> (mentor), <a href="">Šimunović, Ivo</a> (komentor)
                            </p>
                            <p aria-label=""><span class="fw-bold">Članovi povjerenstva: </span><a href="">Šverko,
                                    Emil</a> (predjednik povjerenstva), <a href="">Begović, Saša</a> (član
                                povjerenstva), <a href="">Marasović, Katja</a> (član povjerenstva)
                            </p>
                            <p class="fw-bold" aria-label="">Znanstveno / umjetničko područje, polje i grana:
                                <br><span class="fw-normal">TEHNIČKE ZNANOSTI / Arhitektura i urbanizam /
                                    Arhitektonsko
                                    projektiranje</span>
                            </p>
                            <p aria-label=""><span class="fw-bold">Datum obrane: </span>1.7.2024.</p>
                            <p aria-label=""><span class="fw-bold">URN:NBN: </span><a href="">urn:nbn:hr:217:672264</a>
                            </p>
                            <p aria-label=""><span class="fw-bold">Jezik: </span> hrvatski</p>
                            <p aria-label=""><span class="fw-bold">Studijski program: </span>Arhitektura</p>
                            <p aria-label=""><span class="fw-bold">Vrsta studija: </span>diplomski</p>
                            <p aria-label=""><span class="fw-bold">Akademski / stručni naziv:
                                </span>magistar/magistra inženjer/inženjerka arhitekture (mag. ing. arch)</p>
                            <p aria-label=""><span class="fw-bold">Napomene:
                                </span>Urbanistički elementi smještaja staračkog doma: komentorski rad</p>
                            <p aria-label=""><span class="fw-bold">Datum i vrijeme pohrane: </span>19.8.2024., 13:05
                            </p>

                        </div>
                    </div>
                    <!-- Desni prikaz -->
                    <!--  style element za mobilni prikaz  -->
                    <div class="prikaz-objekta-upravljanjeObjektom">
                        <div class="prikaz-objekta-status" aria-label="status objekta, upravljanje objektom">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Poslan autoru na doradu
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Objavi</a></li>
                                    <li><a class="dropdown-item" href="#">Uredi</a></li>
                                    <li><a class="dropdown-item" href="#">Pošalji autoru na doradu</a></li>
                                    <li><a class="dropdown-item" href="#">Obriši</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="prikaz__objekta-wrapperSekundarni">
                        <div class="prikaz-objekta-status">
                            <div class="d-flex">
                                <div class="d-flex flex-column align-items-center">
                                    <span class="me-3 mb-2"><i class="bi bi-eye me-1"></i>Pogledi</span>
                                    <span>0</span>
                                </div>
                                <div class="d-flex flex-column align-items-center">
                                    <span class="me-3 mb-2"><i class="bi bi-download me-1"></i>Preuzimanja</span>
                                    <span>0</span>
                                </div>
                            </div>
                        </div>
                        <div class="prikaz-objekta-status">
                            <a href="#" aria-label="">Kontakt</a>
                        </div>
                        <div class="prikaz-objekta-status">
                            <div class="d-flex flex-column align-items-start">
                                <p aria-label="">Za citiranje koristite ovu adresu: <a
                                        href="https://urn.nsk.hr/urn:nbn:hr:217:672264">https://urn.nsk.hr/urn:nbn:hr:217:672264</a>
                                </p>
                                <p aria-label=""><span class="fw-bold">Referenca: </span></p>
                                <p aria-label="">Culjak D (2018). Neki aspekti tehnicke analize financijskih
                                    trzista
                                    (Diplomski rad). Zagreb: Sveuciliste u Zagrebu. Prirodoslovno-matematicki
                                    fakultet.
                                    Preuzeto s https://urn.nsk.hr/urn:nbn:hr:217:672264</p>
                            </div>
                            <div class="d-flex justify-content-between w-100">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button"
                                        data-bs-toggle="dropdown" aria-expanded="false"
                                        aria-label="odabir stila reference">
                                        APA
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item active" href="#">APA</a></li>
                                        <li><a class="dropdown-item" href="#">MLA</a></li>
                                        <li><a class="dropdown-item" href="#">Chicago</a></li>
                                        <li><a class="dropdown-item" href="#">Harvard</a></li>
                                        <li><a class="dropdown-item" href="#">Vancouver</a></li>
                                        <li><a class="dropdown-item" href="#">IEEE</a></li>
                                    </ul>
                                </div>
                                <button class="btn btn-primary" aria-label="kopiraj referencu"
                                    title="kopiraj referencu"><i class="bi bi-copy"></i></button>
                            </div>
                        </div>
                        <div class="prikaz-objekta-status">
                            <div class="d-flex flex-column justify-content-start">
                                <p aria-label=""><span class="fw-bold">Virtualna zbirka: </span> <a href="">Radovi
                                        u
                                        casopisu</a></p>
                                <p aria-label=""><span class="fw-bold">Sljedbenik od: </span><a href="">Quantitative
                                        and
                                        qualitative differences in
                                        performance within the semantic and letter fluency tasks</a></p>
                            </div>
                        </div>
                        <div class="prikaz-objekta-status d-flex align-items-start">
                            <p aria-label="" class="m-auto mb-2"><span class="fw-bold">Projekt</span></p>
                            <p aria-label=""><span class="fw-bold">Šifra: </span>2020-1-HR01-KA226-HE-094685</p>
                            <p aria-label=""><span class="fw-bold">Naziv: </span>Digital Education for
                                Crisis Situations.
                                Times when
                                there is no
                                alternative (DECris)</p>
                            <p aria-label=""><span class="fw-bold">Pravna nadležnost: </span>eu</p>
                            <p aria-label=""><span class="fw-bold">Financijer: </span>EU</p>
                            <p aria-label=""><span class="fw-bold">Linija financiranja: </span>Erasmus+</p>
                        </div>
                        <div class="prikaz-objekta-status d-flex align-items-start">
                            <p aria-label="" class="m-auto mb-2"><span class="fw-bold">Skup</span></p>
                            <p aria-label=""><span class="fw-bold">Naziv: </span>10th Internation Workshop on
                                Language Production (IWLP)</p>
                            <p aria-label=""><span class="fw-bold">Godina: </span>2018.</p>
                            <p aria-label=""><span class="fw-bold">Lokacija: </span>Nijmegen, Nizozemska</p>
                        </div>
                        <div class="prikaz-objekta-status">
                            <div class="d-flex justify-content-around w-100">
                                <button class="btn btn-primary" aria-label="podijeli na Facebooku"
                                    title="podijeli na Facebooku"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                        height="16" fill="#ffffff" class="bi bi-facebook" viewBox="0 0 16 16">
                                        <path
                                            d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951" />
                                    </svg></button>
                                <button class="btn btn-primary" aria-label="podijeli na X-u"
                                    title="podijeli na X-u"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                        height="16" fill="#ffffff" class="bi bi-twitter-x" viewBox="0 0 16 16">
                                        <path
                                            d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z" />
                                    </svg></button>
                                <button class="btn btn-primary" aria-label="podijeli na LinkedInu"
                                    title="podijeli na LinkedInu"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                        height="16" fill="#ffffff" class="bi bi-linkedin" viewBox="0 0 16 16">
                                        <path
                                            d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z" />
                                    </svg></button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <!-- End of content cards -->
        </section>
    </div>