<div class="container-fluid content-wrapper p-0 flex-grow-1">
        <!-- Banner -->
        <div class="container-fluid banner__visual">
            {{> banner__inner}}
           {{> shape__divider}}
        </div>
        <div onclick="toggleSidebar()" class="filter__button" aria-hidden="true"><i
                class="bi bi-person-fill filterButton" aria-label="Prikaži opcije mog repozitorija" tabindex="-1"></i>
        </div>
        <div class="container-xxl filterContent__container">
            <section class="card card__filters" aria-label="filtriranje">
                <div class="card-body card__filters-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <h2 class="card-title">Filtriraj prema</h2><span onclick="toggleSidebar()"
                            aria-label="Sakrij opcije mog repozitorija"><i class="bi bi-box-arrow-left filterButton"
                                tabindex="0"></i></span>
                    </div>
                    <p class="card-text">
                    <h4>USTANOVAMA I ODJELIMA</h4>
                    <ul>
                        <li><a href="">Postavke repozitorija<span
                                    class="ms-1 badge text-bg-danger rounded-pill">10</span></a>
                        </li>
                        <li><a href="">Izgled repozitorija<span
                                    class=" ms-1 badge text-bg-danger rounded-pill">10</span></a>
                        </li>
                        <li><a href="">Korisnici<span class="ms-1 badge text-bg-danger rounded-pill">10</span></a>
                        </li>
                        <li><a href="">Pohranitelji objekata</a></li>
                        <li><a href="">Neaktivni objekti<span
                                    class="ms-1 badge text-bg-danger rounded-pill">10</span></a>
                        </li>
                        <li><a href="">Zahtjevi za pristup objektima</a></li>
                        <li><a href="">Često postavljana pitanja</a><i class="ms-2 bi bi-box-arrow-up-right"></i>
                        </li>
                        <li><a href="">Moji objekti</a></li>
                        <li><a href="">Moje liste</a></li>
                    </ul>
                    </p>
                </div>
            </section>
            <section id="napredno-pretrazivanje__content" class="card w-100"
                aria-label="napredno pretraživanje objekata">
                <div class=" card-body">
                    <div class="p-3 rounded-3 bg-body-tertiary">
                        <h2 class="mb-4">Postavite uvjet</h2>
                        <div id="rowsContainer">
                            <div class="row mt-1" id="templateRow">
                                <div class="col-lg-1">
                                    <select class="form-select" aria-label="odaberite uvjet za selektiranje" hidden>
                                        <option selected>i</option>
                                        <option value="1">ili</option>
                                    </select>
                                </div>
                                <div class="col-lg-2 mt-1">
                                    <select class="form-select" aria-label="odaberite polje">
                                        <option selected>Odaberite polje</option>
                                        <option value="1">Naslov</option>
                                        <option value="1">Autor</option>
                                        <option value="1">Ključne riječi</option>
                                        <option value="1">Naslov publikacije</option>
                                        <option value="1">Sažetak</option>
                                    </select>
                                </div>
                                <div class="col-lg-3 mt-1">
                                    <select class="form-select" aria-label="odaberite uvjet">
                                        <option selected>Odaberite uvjet</option>
                                        <option value="1">Sadrži sve ove riječi</option>
                                        <option value="1">Sadrži točno ovu riječ ili izraz</option>
                                        <option value="1">Sadrži bilo koju od ovih riječi</option>
                                        <option value="1">Ne sadrži nijednu od ovih riječi</option>
                                    </select>
                                </div>
                                <div class="col-lg-6 mt-1">
                                    <input type="text" class="form-control" placeholder="upišite riječi"
                                        aria-label="Sizing example input">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end mt-2">
                            <button id="removeRowBtn" class="btn btn-outline-info me-2" style="display: none;">- ukloni
                                zadnji
                                uvjet</button>
                            <button class="btn btn-primary-soft" id="addAnotherRowBtn">+ dodaj još jedan uvjet</button>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end m-3">
                        <button class="btn btn-primary d-flex justify-content-end">Pretraži</button>
                    </div>
                </div>
        </div>
    </div>
