 <div class="container-fluid content-wrapper p-0 flex-grow-1">
        <!-- Banner -->
    <div class="container-fluid banner__visual">
      <div class="container-xxl banner__content ">
        <div class="text__content d-flex justify-content-between w-100">
          <h1>Pohranjivanje</h1>
          <div class="text__content-searchWrapper">
            <div class="banner__wrapper start-0">
              <div class="input-group mb-3" id="banner__searchBar-wrapper" role="search">
                <input type="text" class="form-control" id="banner__searchBar" aria-label="Pretražite repozitorije"
                  placeholder="Pretražite repozitorije..." aria-describedby="banner__searchBar-button">
                <button class="btn btn-outline-danger" type="submit" id="banner__searchBar-button"
                  aria-label="Pretražite repozitorije">
                  <!-- <span class="visually-hidden">Pretražite repozitorije</span> -->
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-search" viewBox="0 0 16 16">
                    <path
                      d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
                      stroke="white" stroke-width="0.7" />
                  </svg>
                </button>
              </div>
            </div>
            <div class="text__content-advanced">
              <a href="#">Napredno pretraživanje</a>
            </div>
            <div class="text__content-pills">
              <a class="badge rounded-pill text-bg-primary" tabindex="0" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#000000" aria-hidden="true"
                  style="vertical-align: -2px;" class="bi bi-collection-fill" viewBox="0 0 16 16">
                  <path
                    d="M0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6zM2 3a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11A.5.5 0 0 0 2 3m2-2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7A.5.5 0 0 0 4 1" />
                </svg>
                Pregled po kategorijama</a>
              <a class="badge rounded-pill text-bg-primary" tabindex="0" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" aria-hidden="true"
                  style="vertical-align: -2px;" class="bi bi-database-fill-add" viewBox="0 0 16 16">
                  <path
                    d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0M8 1c-1.573 0-3.022.289-4.096.777C2.875 2.245 2 2.993 2 4s.875 1.755 1.904 2.223C4.978 6.711 6.427 7 8 7s3.022-.289 4.096-.777C13.125 5.755 14 5.007 14 4s-.875-1.755-1.904-2.223C11.022 1.289 9.573 1 8 1" />
                  <path
                    d="M2 7v-.839c.457.432 1.004.751 1.49.972C4.722 7.693 6.318 8 8 8s3.278-.307 4.51-.867c.486-.22 1.033-.54 1.49-.972V7c0 .424-.155.802-.411 1.133a4.51 4.51 0 0 0-4.815 1.843A12 12 0 0 1 8 10c-1.573 0-3.022-.289-4.096-.777C2.875 8.755 2 8.007 2 7m6.257 3.998L8 11c-1.682 0-3.278-.307-4.51-.867-.486-.22-1.033-.54-1.49-.972V10c0 1.007.875 1.755 1.904 2.223C4.978 12.711 6.427 13 8 13h.027a4.55 4.55 0 0 1 .23-2.002m-.002 3L8 14c-1.682 0-3.278-.307-4.51-.867-.486-.22-1.033-.54-1.49-.972V13c0 1.007.875 1.755 1.904 2.223C4.978 15.711 6.427 16 8 16c.536 0 1.058-.034 1.555-.097a4.5 4.5 0 0 1-1.3-1.905" />
                </svg></span>
                Pohranjivanje</a>
            </div>
          </div>
        </div>
      </div>
      <div class="custom-shape-divider-bottom-1707211383">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path
            d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
            class="shape-fill"></path>
        </svg>
      </div>
      <div class="custom-shape-divider-bottom-1707731651">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path
            d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
            class="shape-fill"></path>
        </svg>
      </div>
    </div>
    <!-- End of banner beginning of content cards -->
    <div onclick="toggleSidebar()" class="filter__button" aria-hidden="true"><i class="bi bi-person-fill filterButton"
        aria-label="Prikaži opcije mog repozitorija" tabindex="-1"></i>
    </div>
    <!-- End of banner beginning of content cards -->

    <!-- Ukoliko je korisnik ulogiran i postoji lijevi izbornik section sa card__filters klasom nije zakomentiran a parent element sadrzi klasu filterContent__container
         Ukoliko korisnik nije ulogiran lijevi izbornik ne postoji, section sa card__filter klasom je zakomentiran a parent element ima klasu nofilterContent__container -->
    <div class="container-xxl filterContent__container" aria-label="sadržaj">
      <!-- Section lijevog izbornika -->
      <section class="card card__filters" aria-label="filtriranje">
        <div class="card-body card__filters-body">
          <div class="d-flex justify-content-between align-items-center">
            <h2 class="card-title">Filtriraj prema</h2><span onclick="toggleSidebar()"
              aria-label="Sakrij opcije mog repozitorija"><i class="bi bi-box-arrow-left filterButton"
                tabindex="0"></i></span>
          </div>
          <p class="card-text">
          <h4>USTANOVAMA I ODJELIMA</h4>
          <ul>
            <li><a href="">Postavke repozitorija<span class="ms-1 badge text-bg-danger rounded-pill">10</span></a>
            </li>
            <li><a href="">Izgled repozitorija<span class=" ms-1 badge text-bg-danger rounded-pill">10</span></a>
            </li>
            <li><a href="">Korisnici<span class="ms-1 badge text-bg-danger rounded-pill">10</span></a></li>
            <li><a href="">Pohranitelji objekata</a></li>
            <li><a href="">Neaktivni objekti<span class="ms-1 badge text-bg-danger rounded-pill">10</span></a>
            </li>
            <li><a href="">Zahtjevi za pristup objektima</a></li>
            <li><a href="">Često postavljana pitanja</a><i class="ms-2 bi bi-box-arrow-up-right"></i>
            </li>
            <li><a href="">Moji objekti</a></li>
            <li><a href="">Moje liste</a></li>
          </ul>
          </p>
        </div>
      </section>
      <!-- kraj sectiona lijevog izbornika  -->
      <section class="card" aria-label="pohrana objekata">
        <div>
          <div class="card-body content__body">
            <h2 class="card-title">Pohrani</h2>
            <hr class="">
            <p>Dozvoljene akcije za pohranjivanje objekata</p>

            <!-- Unos pohrane -->
            <div class="pohrana__objekta-wrapper ">
              <div class="pohrana__objekta">
                <div class="pohrana__objekta-naslov pt-1 ps-1 mb-3"><i class="bi bi-arrow-left-right"></i>Preuzimanje
                  podataka iz vanjskih baza</div>
                <div class="pohrana__objekta-selectWrapper">
                  <div class="mb-4">
                    <span>Baza</span>
                    <select class="form-select" aria-label="Odaberite bazu">
                      <option selected>Hrčak - Portal znanstvenih časopisa Republike Hrvatske</option>
                      <option value="1" disabled>Crosbi - Hrvatska znanstvena bibliografija (privremeno onemogućeno
                        dok
                        se
                        funkcionalnost ne implementira u CroRIS-u)</option>
                      <option value="2">Crossref (via DOI)</option>
                      <option value="3">NSK Z39.50 (via ISBN)</option>
                    </select>
                    <span>Odaberite bazu iz koje želite preuzeti podatke </span>
                  </div>
                  <div>
                    <span>Identifikator</span>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="" aria-label="Unesite identifikator"
                        aria-describedby="basic-addon1">
                    </div>
                    <span>Unesite odgovarajući identifikator </span>
                  </div>
                  <button class="btn btn-primary" style="margin-top:1.5rem;margin-left:5px">Pronađi</button>
                </div>
              </div>
            </div>
            <!-- ////////////////////////////// -->
            <section class="lista__objekata">
              <div class="pohrana__objekta-wrapper accordion">
                <div class="pohrana__objekta accordion-item">
                  <div class="pohrana__objekta-linkWrapper">
                    <a href="#">
                      <div class="pohrana__objekta-naslov"><i class="bi bi-mortarboard"></i>
                        Završni, diplomski i specijalistički radovi
                      </div>
                    </a>
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#zavrsniDiplomskiSpecijalisticki" aria-expanded="false"
                      aria-controls="zavrsniDiplomskiSpecijalisticki">
                    </button>
                  </div>
                  <div id="zavrsniDiplomskiSpecijalisticki" class=" pohrana__objekta-opis accordion-collapse collapse"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p class="pohrana__objekta-opis ps-1">Radovi nastali završetkom preddiplomskog, diplomskog,
                        poslijediplomskog
                        specijalističkog ili poslijediplomskog stručnog studija</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- ////// -->
              <div class="pohrana__objekta-wrapper accordion">
                <div class="pohrana__objekta accordion-item">
                  <div class="pohrana__objekta-linkWrapper">
                    <a href="#">
                      <div class="pohrana__objekta-naslov"><i class="bi bi-mortarboard"></i>
                        Umjetnički
                        završni i diplomski radovi
                      </div>
                    </a>
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#umjetnickiZavrsniDiplomski" aria-expanded="false"
                      aria-controls="umjetnickiZavrsniDiplomski">
                    </button>
                  </div>
                </div>
                <div id="umjetnickiZavrsniDiplomski" class=" pohrana__objekta-opis accordion-collapse collapse"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p class="pohrana__objekta-opis ps-1">Radovi nastali završetkom preddiplomskog i diplomskog
                      stručnog
                      studija</p>
                  </div>
                </div>
              </div>
              <!-- ///// -->
              <div class="pohrana__objekta-wrapper accordion">
                <div class="pohrana__objekta accordion-item">
                  <div class="pohrana__objekta-linkWrapper">
                    <a href="#">
                      <div class="pohrana__objekta-naslov"><i class="bi bi-mortarboard"></i>
                        Disertacije i
                        znanstveni magistarski radovi</div>
                    </a>
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#disertacijeZnanstveniMagistarski" aria-expanded="false"
                      aria-controls="disertacijeZnanstveniMagistarski">
                    </button>

                  </div>
                  <div id="disertacijeZnanstveniMagistarski" class=" pohrana__objekta-opis accordion-collapse collapse"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p class="pohrana__objekta-opis ps-1">Radovi nastali završetkom poslijediplomskog doktorskog ili
                        poslijediplomskog znanstvenog studija</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- ////// -->
              <div class="pohrana__objekta-wrapper accordion">
                <div class="pohrana__objekta accordion-item">
                  <div class="pohrana__objekta-linkWrapper">
                    <a href="#">
                      <div class="pohrana__objekta-naslov"><i class="bi bi-journal-text"></i>
                        Radovi objavljeni
                        u časopisu</div>
                    </a>
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#radoviuCasopisu" aria-expanded="false" aria-controls="radoviuCasopisu">
                    </button>
                  </div>
                  <div id="radoviuCasopisu" class=" pohrana__objekta-opis accordion-collapse collapse"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p class="pohrana__objekta-opis ps-1">Znanstveni ili stručni radovi u procesu objave ili
                        objavljeni
                        u
                        časopisu</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- ////// -->
              <div class="pohrana__objekta-wrapper accordion">
                <div class="pohrana__objekta accordion-item">
                  <div class="pohrana__objekta-linkWrapper">
                    <a href="#">
                      <div class="pohrana__objekta-naslov"><i class="bi bi-journal-text"></i>
                        Radovi objavljeni
                        u zborniku</div>
                    </a>
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#radoviuZborniku" aria-expanded="false" aria-controls="radoviuZborniku">
                    </button>
                  </div>
                  <div id="radoviuZborniku" class=" pohrana__objekta-opis accordion-collapse collapse"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p class="pohrana__objekta-opis ps-1">Razne vrste radova objavljenih u zbornicima s konferencija
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- ////// -->
              <div class="pohrana__objekta-wrapper accordion">
                <div class="pohrana__objekta accordion-item">
                  <div class="pohrana__objekta-linkWrapper">
                    <a href="#">
                      <div class="pohrana__objekta-naslov"><i class="bi bi-book"></i>
                        Poglavlja u
                        knjizi</div>
                    </a>
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#poglavljauKnjizi" aria-expanded="false" aria-controls="poglavljauKnjizi">
                    </button>
                  </div>
                  <div id="poglavljauKnjizi" class=" pohrana__objekta-opis accordion-collapse collapse"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p class="pohrana__objekta-opis ps-1">Poglavlja koja se pojavljuju kao zasebna bibliografska
                        jedinica
                        u knjizi
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- ////// -->
              <div class="pohrana__objekta-wrapper accordion">
                <div class="pohrana__objekta accordion-item">
                  <div class="pohrana__objekta-linkWrapper">
                    <a href="#">
                      <div class="pohrana__objekta-naslov"><i class="bi bi-file-slides"></i>
                        Izlaganje na
                        skupu
                      </div>
                    </a><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#izlaganjenaSkupu" aria-expanded="false" aria-controls="izlaganjenaSkupu">
                    </button>
                  </div>
                  <div id="izlaganjenaSkupu" class=" pohrana__objekta-opis accordion-collapse collapse"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p class="pohrana__objekta-opis ps-1">Unos dokumenata s izlaganja na skupovima
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- ////// -->
              <div class="pohrana__objekta-wrapper accordion">
                <div class="pohrana__objekta accordion-item">
                  <div class="pohrana__objekta-linkWrapper">
                    <a href="#">
                      <div class="pohrana__objekta-naslov"><i class="bi bi-book"></i>
                        Knjiga</div>
                    </a>
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#knjiga" aria-expanded="false" aria-controls="knjiga">
                    </button>
                  </div>
                  <div id="knjiga" class=" pohrana__objekta-opis accordion-collapse collapse"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p class="pohrana__objekta-opis ps-1">Pohrana raznih vrsta knjiga
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- ////// -->
              <div class="pohrana__objekta-wrapper accordion">
                <div class="pohrana__objekta accordion-item">
                  <div class="pohrana__objekta-linkWrapper">
                    <a href="#">
                      <div class="pohrana__objekta-naslov"><i class="bi bi-palette"></i>
                        Slikovna građa</div>
                    </a>
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#slikovnaGrada" aria-expanded="false" aria-controls="slikovnaGrada">
                    </button>
                  </div>
                  <div id="slikovnaGrada" class=" pohrana__objekta-opis accordion-collapse collapse"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p class="pohrana__objekta-opis ps-1">Pohrana slikovnog sadržaja
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- ////// -->
              <div class="pohrana__objekta-wrapper accordion">
                <div class="pohrana__objekta accordion-item">
                  <div class="pohrana__objekta-linkWrapper">
                    <a href="#">
                      <div class="pohrana__objekta-naslov"><i class="bi bi-earbuds"></i>
                        Audio građa
                      </div>
                    </a>
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#audioGrada" aria-expanded="false" aria-controls="audioGrada">
                    </button>
                  </div>
                  <div id="audioGrada" class=" pohrana__objekta-opis accordion-collapse collapse"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p class="pohrana__objekta-opis ps-1">Pohrana audio sadržaja
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- ////// -->
              <div class="pohrana__objekta-wrapper accordion">
                <div class="pohrana__objekta accordion-item">
                  <div class="pohrana__objekta-linkWrapper">
                    <a href="#">
                      <div class="pohrana__objekta-naslov"><i class="bi bi-camera-reels"></i>
                        Audiovizualna
                        građa</div>
                    </a>
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#audiovizualnaGrada" aria-expanded="false" aria-controls="audiovizualnaGrada">
                    </button>
                  </div>
                  <div id="audiovizualnaGrada" class=" pohrana__objekta-opis accordion-collapse collapse"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p class="pohrana__objekta-opis ps-1">Pohrana video sadržaja
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- ////// -->
              <div class="pohrana__objekta-wrapper accordion">
                <div class="pohrana__objekta accordion-item">
                  <div class="pohrana__objekta-linkWrapper">
                    <a href="#">
                      <div class="pohrana__objekta-naslov"><i class="bi bi-clipboard-data"></i>
                        Skup podataka
                      </div>
                    </a><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#skupPodataka" aria-expanded="false" aria-controls="skupPodataka">

                    </button>
                  </div>
                  <div id="skupPodataka" class=" pohrana__objekta-opis accordion-collapse collapse"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p class="pohrana__objekta-opis ps-1">Omogućava dijeljenje skupova istraživačkih podataka
                        sukladno
                        FAIR data principima (Findable, Accessible, Interoperable and Reusable)
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- ////// -->
              <div class="pohrana__objekta-wrapper accordion">
                <div class="pohrana__objekta accordion-item">
                  <div class="pohrana__objekta-linkWrapper">
                    <a href="#">
                      <div class="pohrana__objekta-naslov"><i class="bi bi-puzzle"></i>
                        Obrazovni sadržaj
                      </div>
                    </a><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#obrazovniSadrzaj" aria-expanded="false" aria-controls="obrazovniSadrzaj">
                    </button>
                  </div>
                  <div id="obrazovniSadrzaj" class=" pohrana__objekta-opis accordion-collapse collapse"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p class="pohrana__objekta-opis ps-1">Pohrana obrazovnog sadržaja
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- ////// -->
              <div class="pohrana__objekta-wrapper accordion">
                <div class="pohrana__objekta accordion-item">
                  <div class="pohrana__objekta-linkWrapper">
                    <a href="#">
                      <div class="pohrana__objekta-naslov"><i class="bi bi-file-text"></i>
                        Ostale vrste
                        dokumenata
                      </div>
                    </a><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#ostaleVrsteDokumenata" aria-expanded="false"
                      aria-controls="ostaleVrsteDokumenata">
                    </button>
                  </div>
                  <div id="ostaleVrsteDokumenata" class=" pohrana__objekta-opis accordion-collapse collapse"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p class="pohrana__objekta-opis ps-1">Pohrana ostalih vrsta dokumenata
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- ////// -->
              <div class="pohrana__objekta-wrapper accordion">
                <div class="pohrana__objekta accordion-item">
                  <div class="pohrana__objekta-linkWrapper">
                    <a href="#">
                      <div class="pohrana__objekta-naslov"><i class="bi bi-file-earmark-bar-graph"></i>
                        Plan
                        upravljanja
                        istraživačkim podacima
                      </div>
                    </a><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#planUpravljanjaPodacima" aria-expanded="false"
                      aria-controls="planUpravljanjaPodacima">

                    </button>
                  </div>
                  <div id="planUpravljanjaPodacima" class=" pohrana__objekta-opis accordion-collapse collapse"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p class="pohrana__objekta-opis ps-1">Pohrana plana upravljanja istraživačkim podacima
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- ////// -->
              <div class="pohrana__objekta-wrapper accordion">
                <div class="pohrana__objekta accordion-item">
                  <div class="pohrana__objekta-linkWrapper">
                    <a href="#">
                      <div class="pohrana__objekta-naslov"><i class="bi bi-collection"></i>
                        Virtualne zbirke
                      </div>
                    </a><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#virtualneZbirke" aria-expanded="false" aria-controls="virtualneZbirke">
                    </button>
                  </div>
                  <div id="virtualneZbirke" class=" pohrana__objekta-opis accordion-collapse collapse"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p class="pohrana__objekta-opis ps-1">Pohrana virtualnih zbirki
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
    </div>
    <!-- End of content cards -->
    </section>
  </div>