<div class="container-fluid content-wrapper p-0 flex-grow-1"></div>
    <!-- Banner -->
    <div class="container-fluid banner__visual">
      {{> banner__inner}}
      {{> shape__divider}}
    </div>
    <div onclick="toggleSidebar()" class="filter__button" aria-hidden="true"><i class="bi bi-person-fill filterButton"
        aria-label="Prikaži opcije mog repozitorija" tabindex="-1"></i>
    </div>
    <!-- End of banner beginning of content cards -->
    <div class="container-lg filterContent__container" aria-label="sadržaj">
      <section id="results__filterContent" class="card card__filters" aria-label="filtriranje">
        <div class="card-body card__filters-body">
          <div class="d-flex justify-content-between align-items-center">
            <h2 class="card-title">Filtriraj prema</h2><span onclick="toggleSidebar()"
              aria-label="Sakrij opcije mog repozitorija"><i class="bi bi-box-arrow-left filterButton"
                tabindex="0"></i></span>
          </div>
          <p class="card-text">
          <h4>USTANOVAMA I ODJELIMA</h4>
          <ul>
            <li><a href="">Postavke repozitorija<span class="ms-1 badge text-bg-danger rounded-pill">10</span></a>
            </li>
            <li><a href="">Izgled repozitorija<span class=" ms-1 badge text-bg-danger rounded-pill">10</span></a>
            </li>
            <li><a href="">Korisnici<span class="ms-1 badge text-bg-danger rounded-pill">10</span></a></li>
            <li><a href="">Pohranitelji objekata</a></li>
            <li><a href="">Neaktivni objekti<span class="ms-1 badge text-bg-danger rounded-pill">10</span></a>
            </li>
            <li><a href="">Zahtjevi za pristup objektima</a></li>
            <li><a href="">Često postavljana pitanja</a><i class="ms-2 bi bi-box-arrow-up-right"></i>
            </li>
            <li><a href="">Moji objekti</a></li>
            <li><a href="">Moje liste</a></li>
          </ul>
          </p>
        </div>
      </section>
      <section id="results__content" class="card" aria-label="rezultati pretraživanje">
        <div class="card-body content__body">
          <section class="sorting__buttons d-flex align-items-center" aria-label="sortitanje rezultata">
            <p class="card-title m-0 p-0">SORTIRAJ PREMA:</p>
            <div class="ms-4">
              <button class="btn">Relevantnosti
              </button>
              <button class="btn">Naslovu</button>
              <button class="btn">Autoru</button>
              <button class="btn">Datumu</button>
            </div>
          </section>
          <p>Pretraženo prema: <span>umjetna inteligencija</span></p>
          <div role="navigation" aria-label="Stranice s rezultatima">
            <ul class="pagination"> <!--dodati active ili disabled klasu na <li> element prema potrebi-->
              <li class="page-item disabled" data-asw-orgfontsize="16" style="font-size: 16px;">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true" data-asw-orgfontsize="16"
                  style="font-size: 16px;">
                  Prethodna
                </a>
              </li>
              <li class="page-item active"><a href="#" class="page-link">1</a></li>
              <li class="page-item"><a href="#" class="page-link">2</a></li>
              <li class="page-item"><a href="#" class="page-link">3</a></li>
              <li class="page-item"><a href="#" class="page-link">4</a></li>
              <li class="page-item"><a href="#" class="page-link">5</a></li>
              <li class="page-item" data-asw-orgfontsize="16" style="font-size: 16px;">
                <a class="page-link" href="#" data-asw-orgfontsize="16" style="font-size: 16px;">
                  Sljedeća
                </a>
              </li>
            </ul>
          </div>
          <article>
            {{!-- <section class="object__results-wrapper" aria-label="rezultat pretraživanja">
              <div class="object__results-contentWrapper">
                <div class="object__results-content">
                  <div class="object__results-pills">
                    <p class="badge rounded-pill otvoren-pristup">otvoren pristup
                    </p>
                    <p class="badge rounded-pill publikacija">ocjenski rad</p>
                  </div>
                  <p class="object__results-title">Društvene mreže i umjetna inteligencija</p>
                  <a class="object__results-name">Benić, Roman</a>
                  <p class="object__results-location">Rijeka: Veleučilište u Rijeci, 2021. <a
                      href="#">urn:nbn:hr:125:908417</a></p>
                  <a href="#">Digitalni repozitorij Veleučilišta u Rijeci</a>
                  <div class="d-flex mt-2">
                    <button type="button" class="btn object__results-Download"><span
                        class="bi bi-download me-1"></span>Otvori</button>
                    <button type="button" class="btn object__results-Details"><span
                        class="bi bi-info-square me-1"></span>Pogledaj detalje</button>
                  </div>
                </div>

              </div>
            </section> --}}
            <!-- Kraj prikaza rezultata  -->
            {{> object__results}}
            <section class="object__results-wrapper" aria-label="rezultat pretraživanja">
              <div class="object__results-contentWrapper">
                <div class="object__results-content">
                  <div class="object__results-pills">
                    <p class="badge rounded-pill institucijski-pristup">institucijski pristup
                    </p>
                    <p class="badge rounded-pill publikacija">izlaganje na skupu</p>
                  </div>
                  <p class="object__results-title">Umjetna inteligencija u kontekstu roboetike</p>
                  <a class="object__results-name">Košić, Lucija</a>
                  <p class="object__results-location">Zagreb: Sveučilište u Zagrebu, Filozofski fakultet, 2022.<a
                      href="#">urn:nbn:hr:131:783923</a></p>
                  <a href="#">ODRAZ</a>
                  <div class="d-flex mt-2">
                    <button type="button" class="btn object__results-Details"><span
                        class="bi bi-info-square me-1"></span>Pogledaj detalje</button>
                  </div>
                </div>
              </div>
            </section>
            <!--///////////// -->
            <section class="object__results-wrapper" aria-label="rezultat pretraživanja">
              <div class="object__results-contentWrapper">
                <div class="object__results-content">
                  <div class="object__results-pills">
                    <p class="badge rounded-pill embargo">embargo
                    </p>
                    <p class="badge rounded-pill publikacija">plan upravljanja istraživačkim podacima
                    </p>
                  </div>
                  <p class="object__results-title">UMJETNA INTELIGENCIJA</p>
                  <a class="object__results-name">Zec Orlović, Danijela</a>
                  <p class="object__results-location">Split: Sveučilište u Splitu, 2023. <a
                      href="#">urn:nbn:hr:228:635522</a></p>
                  <a href="#">Repozitorij Sveučilišnog odjela za stručne studije Sveučilišta u Splitu</a>
                  <div class="d-flex mt-2">
                    <button type="button" class="btn object__results-Details"><span
                        class="bi bi-info-square me-1"></span>Pogledaj detalje</button>
                  </div>
                </div>
              </div>
            </section>
            <!-- ///////////////////// -->
            <section class="object__results-wrapper" aria-label="rezultat pretraživanja">
              <div class="object__results-contentWrapper">
                <div class="object__results-content">
                  <div class="object__results-pills">
                    <p class="badge rounded-pill zatvoreni-pristup">zatvoreni pristup
                    </p>
                    <p class="badge rounded-pill multimedija">ocjenski rad (Umjetnički rad)</p>
                  </div>
                  <p class="object__results-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab enim
                    quia provident suscipit harum, obcaecati natus, architecto corporis tenetur aliquid id adipisci
                    explicabo quos repudiandae quasi rem voluptates quidem deserunt.</p>
                  <a class="object__results-name">Srdelić, Dea</a>
                  <p class="object__results-location">Split: Sveučilište u Splitu, Filozofski fakultet, 2022. <a
                      href="#">urn:nbn:hr:172:662726</a></p>
                  <a href="#">repozitorij.ffst.unist.hr</a>
                  <div class="d-flex mt-2">
                    <button type="button" class="btn object__results-Details"><span
                        class="bi bi-info-square me-1"></span>Pogledaj detalje</button>
                  </div>
                </div>
                <img class="object__results-thumbnail" src="../assets/img/sand-cat.jpg" alt="">
              </div>
            </section>
            <!-- //////////////////////////// -->
            <section class="object__results-wrapper" aria-label="rezultat pretraživanja">
              <div class="object__results-contentWrapper">
                <div class="object__results-content">
                  <div class="object__results-pills">
                    <p class="badge rounded-pill zatvoreni-pristup">zatvoreni pristup
                    </p>
                    <p class="badge rounded-pill multimedija">ocjenski rad (Umjetnički rad)</p>
                  </div>
                  <p class="object__results-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab enim
                    quia provident suscipit harum.</p>
                  <a class="object__results-name">Srdelić, Dea</a>
                  <p class="object__results-location">Split: Sveučilište u Splitu, Filozofski fakultet, 2022. <a
                      href="#">urn:nbn:hr:172:662726</a></p>
                  <a href="#">repozitorij.ffst.unist.hr</a>
                  <div class="d-flex mt-2">
                    <button type="button" class="btn object__results-Details"><span
                        class="bi bi-info-square me-1"></span>Pogledaj detalje</button>
                  </div>
                </div>
                <!-- <img class="object__results-thumbnail" src="../assets/img/sand-cat.jpg" alt=""> -->
              </div>
            </section>
            <!-- ////////////////////////////////////////////// -->
            <section class="object__results-wrapper" aria-label="rezultat pretraživanja">
              <div class="object__results-contentWrapper">
                <div class="object__results-content">
                  <div class="object__results-pills">
                    <p class="badge rounded-pill otvoren-pristup">otvoren pristup
                    </p>
                    <p class="badge rounded-pill publikacija">novinski isječak</p>
                  </div>
                  <p class="object__results-title">UMJETNA INTELIGENCIJA</p>
                  <a class="object__results-name">Krapić, Viktoria</a>
                  <p class="object__results-location">Zagreb: Sveučilište u Zagrebu, Ekonomski fakultet, 2020. <a
                      href="#">urn:nbn:hr:148:476248</a></p>
                  <a href="#">REPEFZG</a>
                  <div class="d-flex mt-2">
                    <button type="button" class="btn object__results-Download"><span
                        class="bi bi-download me-1"></span>Otvori</button>
                    <button type="button" class="btn object__results-Details"><span
                        class="bi bi-info-square me-1"></span>Pogledaj detalje</button>
                  </div>
                </div>
                <img class="object__results-thumbnail" src="../assets/img/dracula.jpg" alt="">
              </div>
            </section>
            <!-- ////////////////////   -->
            <section class="object__results-wrapper" aria-label="rezultat pretraživanja">
              <div class="object__results-contentWrapper">
                <div class="object__results-content">
                  <div class="object__results-pills">
                    <p class="badge rounded-pill zatvoreni-pristup">nedostupan rad
                    </p>
                    <p class="badge rounded-pill publikacija">disertacija i znanstveni magistarski rad</p>
                  </div>
                  <p class="object__results-title">Umjetna inteligencija, medicina i autonomija</p>
                  <a class="object__results-name">Bracanović, Tomislav</a>
                  <p class="object__results-location">Nova prisutnost : časopis za intelektualna i duhovna pitanja,
                    19
                    (2021)<a href="#">https://doi.org/10.31192/np.19.1.5</a></p>
                  <a href="#">Repozitorij Instituta za filozofiju</a>
                  <div class="d-flex mt-2">
                    <button type="button" class="btn object__results-Details"><span
                        class="bi bi-info-square me-1"></span>Pogledaj detalje</button>
                  </div>
                </div>
                <img src="../assets/img/rezultati__pretrazivanja-thumbnail.jpg" alt="">
              </div>
            </section>
            <!-- ////////////////////////////////////// -->
            <section class="object__results-wrapper" aria-label="rezultat pretraživanja">
              <div class="object__results-contentWrapper">
                <div class="object__results-content">
                  <div class="object__results-pills">
                    <p class="badge rounded-pill institucijski-pristup">institucijski pristup
                    </p>
                    <p class="badge rounded-pill virtualna-zbirka">virtualna zbirka</p>
                  </div>
                  <p class="object__results-title">Umjetna inteligencija u digitalnom marketingu</p>
                  <a class="object__results-name">Markotić, Klara</a>
                  <p class="object__results-location">Rijeka: Sveučilište u Rijeci, Ekonomski fakultet, 2020.<a
                      href="#">urn:nbn:hr:192:446056</a></p>
                  <a href="#">Repozitorij Ekonomskog fakulteta Rijeka</a>
                  <div class="d-flex mt-2">
                    <button type="button" class="btn object__results-Details"><span
                        class="bi bi-info-square me-1"></span>Pogledaj detalje</button>
                  </div>
                </div>
                <img src="../assets/img/rezultati__pretrazivanja-thumbnail.jpg" alt="">
              </div>
            </section>
            <!-- ////////////////////////////////////// -->
            <section class="object__results-wrapper" aria-label="rezultat pretraživanja">
              <div class="object__results-contentWrapper">
                <div class="object__results-content">
                  <div class="object__results-pills">
                    <p class="badge rounded-pill otvoren-pristup">otvoren pristup
                    </p>
                    <p class="badge rounded-pill multimedija">audiovizualna građa</p>
                  </div>
                  <p class="object__results-title">UMJETNA INTELIGENCIJA</p>
                  <a class="object__results-name">Bikić, Antonia</a>
                  <p class="object__results-location">Split: Sveučilište u Splitu, 2021.<a
                      href="#">urn:nbn:hr:228:637626</a></p>
                  <a href="#">Repozitorij Sveučilišnog odjela za stručne studije Sveučilišta u Splitu</a>
                  <div class="d-flex mt-2">
                    <button type="button" class="btn object__results-Download"><span
                        class="bi bi-download me-1"></span>Otvori</button>
                    <button type="button" class="btn object__results-Details"><span
                        class="bi bi-info-square me-1"></span>Pogledaj detalje</button>
                  </div>
                </div>
                <img src="../assets/img/rezultati__pretrazivanja-thumbnail.jpg" alt="">
              </div>
            </section>
            <!-- ////////////////////////////////////// -->
            <section class="object__results-wrapper" aria-label="rezultat pretraživanja">
              <div class="object__results-contentWrapper">
                <div class="object__results-content">
                  <div class="object__results-pills">
                    <p class="badge rounded-pill otvoren-pristup">otvoren pristup
                    </p>
                    <p class="badge rounded-pill obrazovni">obrazovni sadržaj</p>
                  </div>
                  <p class="object__results-title">UMJETNA INTELIGENCIJA</p>
                  <a class="object__results-name">Bikić, Antonia</a>
                  <p class="object__results-location">Split: Sveučilište u Splitu, 2021.<a
                      href="#">urn:nbn:hr:228:637626</a></p>
                  <a href="#">Repozitorij Sveučilišnog odjela za stručne studije Sveučilišta u Splitu</a>
                  <div class="d-flex mt-2">
                    <button type="button" class="btn object__results-Download"><span
                        class="bi bi-download me-1"></span>Otvori</button>
                    <button type="button" class="btn object__results-Details"><span
                        class="bi bi-info-square me-1"></span>Pogledaj detalje</button>
                  </div>
                </div>
                <img src="../assets/img/rezultati__pretrazivanja-thumbnail.jpg" alt="">
              </div>
            </section>
            <!-- ////////////////////////////////////// -->
            <section class="object__results-wrapper" aria-label="rezultat pretraživanja">
              <div class="object__results-contentWrapper">
                <div class="object__results-content">
                  <div class="object__results-pills">
                    <p class="badge rounded-pill otvoren-pristup">otvoren pristup
                    </p>
                    <p class="badge rounded-pill obrazovni">obrazovni sadržaj</p>
                  </div>
                  <p class="object__results-title">Umjetna inteligencija u filmskoj industriji</p>
                  <a class="object__results-name">Roginić, Martina</a>
                  <p class="object__results-location">Zagreb: Sveučilište u Zagrebu, Akademija dramske umjetnosti,
                    2022.<a href="#">urn:nbn:hr:205:525252</a></p>
                  <a href="#">Repozitorij Akademije dramske umjetnosti</a>
                  <div class="d-flex mt-2">
                    <button type="button" class="btn object__results-Download"><span
                        class="bi bi-download me-1"></span>Otvori</button>
                    <button type="button" class="btn object__results-Details"><span
                        class="bi bi-info-square me-1"></span>Pogledaj detalje</button>
                  </div>
                </div>
                <img src="../assets/img/rezultati__pretrazivanja-thumbnail.jpg" alt="">
              </div>
            </section>
            <!-- ////////////////////////////////////// -->
            <section class="object__results-wrapper" aria-label="rezultat pretraživanja">
              <div class="object__results-contentWrapper">
                <div class="object__results-content">
                  <div class="object__results-pills">
                    <p class="badge rounded-pill otvoren-pristup">otvoren pristup
                    </p>
                    <p class="badge rounded-pill ostale-vrste-dokumenata">ostale vrste dokumenata</p>
                  </div>
                  <p class="object__results-title">Umjetna inteligencija i lanac opskrbe</p>
                  <a class="object__results-name">Habazin, Francesca</a>
                  <p class="object__results-location">Zagreb: Sveučilište u Zagrebu, Ekonomski fakultet,
                    2024.<a href="#">urn:nbn:hr:148:734520</a></p>
                  <a href="#">REPEFZG</a>
                  <div class="d-flex mt-2">
                    <button type="button" class="btn object__results-Download"><span
                        class="bi bi-download me-1"></span>Otvori</button>
                    <button type="button" class="btn object__results-Details"><span
                        class="bi bi-info-square me-1"></span>Pogledaj detalje</button>
                  </div>
                </div>
                <img src="../assets/img/rezultati__pretrazivanja-thumbnail.jpg" alt="">
              </div>
            </section>
          </article>
          <div role="navigation" aria-label="Stranice s rezultatima">
            <ul class="pagination"> <!--dodati active ili disabled klasu na <li> element prema potrebi-->
              <li class="page-item disabled" data-asw-orgfontsize="16" style="font-size: 16px;">
                <a class="page-link" href="#" tabindex=" 0" aria-disabled="true" data-asw-orgfontsize="16"
                  style="font-size: 16px;">
                  Prethodna
                </a>
              </li>
              <li class="page-item active"><a href="" class="page-link">1</a></li>
              <li class="page-item"><a href="" class="page-link">2</a></li>
              <li class="page-item"><a href="" class="page-link">3</a></li>
              <li class="page-item"><a href="" class="page-link">4</a></li>
              <li class="page-item"><a href="" class="page-link">5</a></li>
              <li class="page-item " data-asw-orgfontsize="16" style="font-size: 16px;">
                <a class="page-link" href="#" data-asw-orgfontsize="16" style="font-size: 16px;">
                  Sljedeća
                </a>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </div>