$primary: #e39717;
$secondary: #dcddde;
$danger: #d71635;
$lightrose: #f4e1e3;
$success: #00ab4e;
$outline: #4cc0ad;
$links: #961300;
$links__hover: #dd1d00;
$light-background: #f3f4f7;
$whitesmoke: #f5f5f5;
$dark-background: #3c4858;
$white: #ffffff;
$grayButtons: #d1d1d1;
$grayIcons: #767575;
$radio-switch-width: 140px;
$radio-switch-height: 35px;
$radio-switch-padding: 3px;
$radio-switch-radius: 50em;
$radio-switch-animation-duration: 0.3s;
$enable-negative-margins: true;
